Source: ${PACKAGE_NAME}
Maintainer: Neo Technology <debian@neotechnology.com>
Section: database
Priority: optional
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://neo4j.org/

Package: ${PACKAGE_NAME}
Architecture: all
Section: database
Priority: optional
Pre-Depends: dpkg (>= 1.15.7.2)
Depends: ${misc:Depends}, bash, daemon, adduser, psmisc, lsb-base, openjdk-8-jre-headless | java8-runtime-headless
Conflicts:
Replaces: ${REPLACES}, neo4j-advanced
Description: graph database server
 Neo4j server is a database that stores data as graphs rather than tables.
