<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>JSON 3 Unit Tests</title>
    <link rel="stylesheet" href="../vendor/spec/lib/newton.css" media="screen">
    <script src="../vendor/spec/lib/spec.js"></script>
    <script src="../vendor/spec/lib/newton.js"></script>
    <script>
    var curl;
    (function () {
      var parameters;
      if (!(typeof Spec == "object" && Spec || typeof Newton == "object" && Newton)) {
        return;
      }
      parameters = Newton.parseQuery(location.search);
      if (Spec.hasKey(parameters, "amd")) {
        // Load RequireJS or `curl.js`. `document.write` is used because older
        // versions of Safari and Chrome do not support DOM script injection.
        curl = { "apiName": "require" };
        document.write('<script src="../vendor/' + (parameters.amd == "require" ? "require" : "curl") + '.js"><\/script>');
      }
      if (Spec.hasKey(parameters, "prototype")) {
        document.write('<script src="../vendor/prototype.js"><\/script>');
      }
    }());
    </script>
    <script>
    var JSON;
    (function () {
      if (typeof require == "function" && typeof define == "function") {
        require({
          // RequireJS accepts relative paths in the module name; `curl.js` does
          // not. Both accept a `paths` map of module paths to relative paths.
          "paths": { "json": "../lib/json3" },
          // Thwart aggressive resource caching. RequireJS only.
          "urlArgs": "async=" + (+new Date())
        }, ["json", "test_json3"], function (JSON3, testSuite) {
          // Test asynchronous module loading via RequireJS/`curl.js`.
          testSuite.addTest("Asynchronous Module Definition", function (test) {
            setTimeout(function () {
              test.equal(JSON3.stringify(1), "1", "JSON 3 should be exported as an asynchronous module").done(1);
            }, 1500);
          });
          testSuite.run();
        });
      } else {
        document.write('<script src="../lib/json3.js"><\/script>');
        document.write('<script src="test_json3.js"><\/script>');
        window.onload = function () {
          JSON.testSuite.run();
        };
      }
    }());
    </script>
  </head>
  <body>
    <div id="suite"></div>
  </body>
</html>