span.remark {
  background: yellow;
}
td p {
  margin: 0.125em 0;
}
#disqus_thread {
  max-width: 40em;
}
body #toolbar_item command_help {
  /* display: none !important; */
}
.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
  font-size: 14px !important;
  font-family: Consolas, Monaco,"Bitstream Vera Sans Mono", monospace !important;
  line-height: 18px !important;
}

html
{
  background: url("header-bg.png") repeat-x;
}

html body
{
  background: url("logo.gif") no-repeat 100% 24px;
  margin: 0 5%;
  position: absolute;
  width: 90%;
  padding-top: 14px;
}

body, div.navheader th, div.navheader td, div.navfooter td
{
  font-family: "Lucida Bright", Cambria, serif;
}

h1, h2, h3, h4, h5, h6,
div.toc p b,
div.important th, div.info th, div.tip th,
div.warning th, div.note th, div.caution th,
p.legalnotice-title,
div.refnamediv p,
div.sidebar p.title,
th,
div.table-contents td p span.strong strong,
tr.question td b p,
div.abstract p.title b
{
  color: #15708E;
  font-family: Candara, Myriad Pro, Myriad, "Lucida Sans","Trebuchet MS",sans-serif;
}

body h4.title
{
  margin-bottom: 0;
}

td p strong
{
  font-size: 1.067em;
}

tr.question td b p
{
  font-size: 1em;
  margin: 0.5em 0 0 0;
}

tr.question td
{
  padding: 0;
}

tr.answer td, tr.answer td p
{
  padding-top: 0;
}

tr.answer td
{
  padding-left: 1em;
}

body h2:first-child {
    padding-bottom: 40px;
}

div.navheader
{
  position: absolute;
  right: 26px;
  top: 112px;
  width: 4em;
  text-align: right;
  z-index: 10;
}

div.navheader hr
{
  display: none;
}

div.refentry body h2.title, div.refentry body h1.title, div.refentry div.refnamediv p,
body > div.section h1, body > div.section h2,
body > div.part h1, body > div.part h2,
body > div.chapter h1, body > div.chapter h2,
body > div.book h1,
body > div.preface h2,
body > div.appendix h2
{
  color: #ffffff;
  border-bottom: none;
  margin-top: 2.2em;
  margin-bottom: .7em;
}

div.legalnotice
{
  padding-top: 3em;
}

p.legalnotice-title b
{
  color: #ffffff;
  font-size: 1.5em;
  font-style: normal;
  font-weight: bold;
}

p.legalnotice-title
{
  margin-bottom: 4em;
}

body > div.book h1.title
{
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
}

div.part h1.title
{
  margin-top: 1.5em;
}

div.titlepage h3.corpauthor
{
  color: #ffffff;
}

div.refnamediv
{
  padding-top: 24px;
  margin-bottom: 24px;
}

div.refsynopsisdiv h2, div.refsect1 h2
{
  border-bottom: none;
}

div.titlepage h3.corpauthor a.ulink, div.titlepage h3.corpauthor a.ulink:link, 
div.titlepage h3.corpauthor a.ulink:visited, div.titlepage h3.corpauthor a.ulink:hover
div.titlepage h3.corpauthor a.ulink:focus, div.titlepage h3.corpauthor a.ulink:active 
{
  color: #dddddd;
  text-decoration: none;
  font-style: normal;
  padding-left: 0.6em;
}

div.refnamediv h2
{
  display: none;
}

div.refnamediv p
{
  font-size: 1em;
  font-weight: bold;
  margin-top: 3em;
  margin-bottom: 2em;
  width: 60%;
  line-height: 1.2;
}

p, li, dt, div.navheader th, div.navheader td, div.navfooter td
{
  font-family: "Lucida Bright", Cambria, serif;
  font-size: .9375em;
}

p, ul, ol
{
  margin-top: 0;
  margin-bottom: 1em;
}

li p
{
  margin-bottom: 0.5em;
}

div.toc p, div.list-of-figures p, div.list-of-tables p
{
  margin-top: 1.5em;
}

div.list-of-figures p b, div.list-of-tables p b, div.sidebar p b
{
  font-style: normal;
  font-weight: bold;
}

div.toc
{
  margin-bottom: 1em;
}

p.copyright
{
  margin-top: 20px;
}

code.literal
{
  font-family: Consolas, Monaco, monospace;
  font-size: .9375em;
}

td code.literal
{
  font-size: .8em;
}

li
{
  line-height: 1.3em;
}

p
{
  line-height: 1.6em;
  max-width: 45em;
}

ul, ol
{
  max-width: 38em;
}

div.sidebar
{
  max-width: 30em;
  padding: 0.67em 1em;
  background: #c1d5d9 url("content-bg.png") repeat-x;
}

div.sidebar p.title
{
  margin: 0;
}
div.sidebar ul
{
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

p b, div.figure p.title b, div.table p.title b
{
  font-style: italic;
  font-weight: normal;
}

div.important td p, div.info td p, div.tip td p,
div.warning td p, div.note td p, div.caution td p
{
  max-width: 43.5em;
}

div.important, div.info, div.tip,
div.warning, div.note, div.caution
{
  margin-top: 1em;
}

div.table td, div.informaltable td
{
  max-width: 35em;
}

div.table table, div.informaltable
{
  border-collapse: collapse;
}

td, th
{
  padding: 3px 4px 1px 4px;
}

div.table table, div.informaltable table,
div.table table th, div.informaltable table th,
div.table table td, div.informaltable table td,
div.table table tr, div.informaltable table tr,
div.table table tbody, div.informaltable table tbody,
div.table table thead, div.informaltable table thead,
div.table table tfoot, div.informaltable table tfoot
{
  border: 1px solid #666666;
}

div.table table thead, div.informaltable table thead
{
  border-bottom-width: 2px
}

div.table table tfoot, div.informaltable table tfoot
{
  border-top-width: 2px;
}

div.table table, div.informaltable table
{
  background: #d7e3e6 url("table-bg.png");
}

div.queryresult table tbody td p code.literal
{
  color: #000000;
}

div.queryresult table thead tr,
div.queryresult table tfoot tr
{
  background: #cad9dc;
}

div.queryresult table tbody
{
  background: #d1dee1;
}

div.queryresult table tbody tr.evenresult
{
  background: #dfe8eb;
}

div.queryresult table thead th,
div.configsetting table thead th
{
  font-size: 0.9375em;
}

div.queryresult table tfoot th
{
  font-size: 0.8125em;
  font-weight: normal;
}

div.queryresult table tbody td.emptyresult p code.literal
{
  color: #666666;
}

div.table table th, div.informaltable table th,
div.table-contents td p span.strong strong
{
  color: #333333;
}

div.informaltable span.strong strong
{
  font-weight: normal;
  font-style: italic;
}

div.informalfigure a img, div.figure a img
{
  border: none;
}

/* additional styles for slides */

div.slide h1
{
  margin-top: 40px;
  margin-bottom: 1em;
  color: white;
  border-bottom: none;
}

div.slide p, div.slide li
{
  font-size: 1.25em;
}

/* Breadcrumbs */

.breadcrumbs {
  border-bottom: 1px solid #DDDDDD;
  color: #333333;
  font-size: 15px;
  padding: 5px 0;
  position: absolute;
  top: 114px;
  width:100%;
}

.partintro, .refsynopsisdiv {
  padding-top: 1.5em;
}

/* Quickstart list on titlepage. */

div.abstract p
{
  line-height: 0;
  margin-bottom: 0;
}

div.abstract p.title
{
  line-height: inherit;
  margin-bottom: 0.25em;
}

div.abstract ul.itemizedlist
{
  list-style-type: none;
  margin-bottom: 0;
}

div.abstract ul.itemizedlist li.listitem,
div.abstract ul.itemizedlist li.listitem p
{
  margin: 0;
}

div.abstract ul.itemizedlist li.listitem p
{
  line-height: inherit;
}

div.abstract ul.itemizedlist li.listitem p a i
{
  font-style: normal;
}

div.titlepage hr
{
  margin: 0;
}

p.configsetting-key
{
  margin-bottom: 0;
  font-weight: bold;
}
p.configsetting-desc
{
  font-weight: normal;
  font-size: 1em;
  margin-bottom: 0;
}

div.configsetting table tbody td
{
  font-size: .9375em;
}

div.configsetting table tbody td p code
{
  font-size: 1em;
}

div.configsetting table tfoot th
{
  font-size: .9375em;
  font-weight: normal;
}

