html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #f0f0f0 ! important;
  min-width: 400px;
  font-family: "Droid Serif", Georgia, serif;
}

.col {
  padding: 0;
  margin: 0 10px;
  width: 420px;
  float: left;
}

@media screen and (min-width: 2640px) {
  html,body {
    font-size: 0.975em;
  }
  .mid {
    margin: 0 auto;
    width: 2640px;
  }
  header img.neo4j-logo {
    width: 180px;
    float: left;
    margin: 2em 0 0 3%;
  }
  header h1 {
    float: right;
    padding: 1.5em 3% 0 3%;
  }
  header {
    height: 8em;
  }
  .col {
    float: left;
    width: 420px;
    margin: 0 10px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 2210px) and (max-width: 2639px) {
  html,body {
    font-size: 0.975em;
  }
  .mid {
    margin: 0 auto;
    width: 2210px;
  }
  header img.neo4j-logo {
    width: 180px;
    float: left;
    margin: 2em 0 0 3%;
  }
  header h1 {
    float: right;
    padding: 1.5em 3% 0 3%;
  }
  header {
    height: 8em;
  }
  .col {
    float: left;
    width: 420px;
    margin: 0 10px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 1800px) and (max-width: 2209px) {
  html,body {
    font-size: 0.975em;
  }
  .mid {
    margin: 0 auto;
    width: 1800px;
  }
  header img.neo4j-logo {
    width: 180px;
    float: left;
    margin: 2em 0 0 3%;
  }
  header h1 {
    float: right;
    padding: 1.5em 3% 0 3%;
  }
  header {
    height: 8em;
  }
  .col {
    float: left;
    width: 420px;
    margin: 0 10px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 1350px) and (max-width: 1799px) {
  html,body {
    font-size: 0.975em;
  }
  .mid {
    margin: 0 auto;
    width: 1330px;
  }
  header img.neo4j-logo {
    width: 180px;
    float: left;
    margin: 2em 0 0 3%;
  }
  header h1 {
    float: right;
    padding: 1.5em 3% 0 3%;
  }
  header {
    height: 8em;
  }
  .col {
    float: left;
    width: 420px;
    margin: 0 10px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 978px) and (max-width: 1349px) {
  html,body {
    font-size: 0.975em;
  }
  .mid {
    margin: 0 auto;
    width: 90%;
  }
  header img.neo4j-logo {
    width: 160px;
    float: left;
    margin: 2em 0 0 3%;
  }
  header h1 {
    float: right;
    padding: 1.5em 3% 0 3%;
  }
  header {
    height: 7em;
  }
  .col {
    float: left;
    width: 420px;
    margin: 10px;
  }
}

@media screen and (min-width: 780px) and (max-width: 977px) {
  html,body {
    font-size: 0.95em;
  }
  .mid {
    margin: 0 auto;
    width: 80%;
  }
  header img.neo4j-logo {
    width: 120px;
    float: left;
    margin: 1em 0 0 3%;
  }
  header h1 {
    float: right;
    padding: 1.5em 3% 0 3%;
    font-size: 1.5em;
  }
  header {
    height: 5em;
  }
  .col {
    float: left;
    width: 600px;
    margin: 0 10px;
    padding: 10px 0;
  }
}

@media screen and (min-width: 521px) and (max-width: 779px) {
  html,body {
    font-size: 0.9em;
  }
  .mid {
    margin: 0 auto;
    width: 93%;
  }
  header img.neo4j-logo {
    width: 85px;
    float: left;
    margin: 0.5em 0 0 3%;
  }
  header h1 {
    float: right;
    padding: 1em 3% 0 3%;
    font-size: 1.5em;
  }
  header {
    height: 5em;
  }
  .col {
    float: left;
    width: 96%;
  }
  .col img {
    width: 80%;
  }
}

@media screen and (max-width: 520px) {
  html,body {
    font-size: 0.9em;
  }
  .mid {
    margin: 0;
    width: 100%;
  }
  header img.neo4j-logo {
    width: 80px;
    float: left;
    margin: 0.3em 0 0 2px;
  }
  header h1 {
    float: right;
    padding: 0.25em 3% 0 3%;
    font-size: 1.3em;
  }
  header {
    height: 5em;
  }
  .col {
    float: none;
    width: 92%;
  }
  .col img {
    width: 98%;
  }
}

@media print {
  html,body {
    font-size: 8pt;
  }
  footer div.mid {
    float: right;
  }
  table {
    border: solid 1px #e5e5e5 !important;
    border-collapse: collapse !important;
    page-break-inside: avoid;
  }
  th {
    border-bottom: solid 1px #e5e5e5 !important;
  }
  .mid {
    margin: 0;
    width: 100%;
  }
  header img.neo4j-logo {
    width: 100px;
    float: left;
    margin: 2em 0 0 3%;
  }
  header h1 {
    float: right;
    padding: 1.5em 3% 0 3%;
  }
  header {
    height: 8em;
  }
  body .col {
    float: left;
    width: 44%;
    margin: 0 10px;
    padding: 5px 0;
    clear: none;
  }
  html,body {
    background-color: #ffffff !important;
  }
  .main .mid {
    background: none !important;
    box-shadow: none !important;
  }
  .columns {
    display: none;
  }
  div.moved {
    display: block;
  }
  a[href]:after {
    content: "";
  }
  body .syntaxhighlighter a,body .syntaxhighlighter div,body .syntaxhighlighter code,body .syntaxhighlighter table,body .syntaxhighlighter table td,body .syntaxhighlighter table tr,body .syntaxhighlighter table tbody,body .syntaxhighlighter table thead,body .syntaxhighlighter table caption,body .syntaxhighlighter textarea
    {
    font-size: 12px !important;
    line-height: 16px !important;
  }
}

@page {
  size: 8.5in 11in;
}

.page {
  margin: 0 0 2em 0;
  padding: 0 0 3em 0;
  /*  page-break-after : right;
  page-break-inside : avoid;*/
}

header {
  background: #0f5788;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main .mid {
  overflow: visible;
  -moz-box-shadow: 0 10px 8px 4px #e5e5e5;
  webkit-box-shadow: 0 10px 8px 4px #e5e5e5;
  box-shadow: 0 10px 8px 4px #e5e5e5;
  border-top: none;
  position: relative;
  background-color: #fff ! important;
}

header .mid {
  background-color: #0f5788;
}

header h1 {
  margin: 0;
  font-family: 'Ubuntu', Candara, sans-serif;
  font-weight: 500;
}

footer div.mid {
  padding-bottom: 1em;
}

.col h3 {
  font-size: 1.1em;
  margin-top: 0.5em;
}

.col h2 {
  font-size: 1.3em;
  margin-top: 0;
  color: #2e383c;
}

.twoCols {
  width: 88%;
  float: left;
  padding: 0 3%;
  margin: 2% 0 0 0;
}

.col table {
  width: 100%;
  border-spacing: 0;
  margin: 0;
  /*table-layout: fixed;*/
}

.col table.tableblock > tbody > tr:nth-child(even) {
  background-color: #f5f5f5;
}

.col tr th {
  padding: 0.125em 0.125em 0.25em 0.125em;
  border: none;
  /*background: #005a72 url('005a72.gif') repeat-x repeat-y top left;*/
  background: #005a72 url('bg.png');
  color: #fff;
  font-family: 'Ubuntu', Candara, serif;
  font-weight: 500;
}

.col tr th a {
  color: #fff;
}

.col.cardgeneral tr th {
  background: #428BCA;
}

.col.cardread tr th /*, p.cardread span*/ {
  background: #5CB85C;
}

.col.cardwrite tr th {
  background: #c78f41;
}

.col.cardperformance tr th {
  background: #5BC0DE;
}

.col.carddeprecation tr th {
  background: #999999;
}

/*p.cardread span {
  color: #ffffff;
  padding: 2px 4px;
  border-radius: 4px;
}*/
.col tr th:first-child {
  border-top-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  width: 40%;
}

.col tr th:last-child {
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  width: 60%;
}

.col tr td {
  border-top: none;
  margin: 0;
  padding: 0.25em;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.col td pre,.blk pre {
  white-space: pre-wrap;
}

.col td pre {
  padding: 0;
  margin: 0;
}

code,em.code,em.tx,span.monospaced {
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace, serif;
  font-style: normal;
  font-size: 14px;
}

code,span.monospaced {
  color: #004759;
}

p.tableblock {
  font-size: 14px;
}

em.tx {
  font-weight: bold;
}

.twoCols {
  float: left;
}

.twoCols p {
  width: 100%;
  height: 100%;
  padding-top: 1%;
  overflow: auto;
}

td p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

ul {
  padding-left: 15px;
}

#page_1,#page_2,#page_3,#page_4 {
  /*border: 1px solid red;*/
  overflow: auto;
}

pre
  {
  font-size: 14px !important;
  font-family: "Ubuntu Mono", Consolas, Monaco, "Bitstream Vera Sans Mono", monospace !important;
  line-height: 18px !important;
}

body .syntaxhighlighter,body .syntaxhighlighter .line.alt2, body .syntaxhighlighter .line.alt1 {
  background-color: transparent !important;
}

body .syntaxhighlighter {
  overflow: visible !important;
  margin: 0.1em 0 0 0 !important;
}

body .syntaxhighlighter table td.code .line {
  padding: 0 !important;
}

