/* Modules */
.module { margin-bottom: 5px; border: 1px solid #d4d4d4; -moz-border-radius: 5px; -webkit-border-radius: 5px; background: #fff; }
.module .info { font-size:12px; line-height: 13px; padding: 5px 10px; }

.module p { font-size:12px; line-height: 13px; padding: 5px 10px; }
.module h1 {
	font-size:14px;
	padding:0 10px;	
	margin: 9px 0 4px;
}
.module h2 { font-size:13px; line-height: 14px; padding: 13px 10px 2px; margin: 0; font-weight:bold; }

.module > h2, .module > .tabbedmodule_tabs { margin: 0; padding: 7px 5px 6px 10px; color: #444; font-size: 12px; line-height: 16px; font-weight: bold; border-bottom: 1px solid #d4d4d4; -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; background-color: #e6e6e6; }

.module_actions { 
	list-style:none;
	padding: 0; 
	margin:0; 
	float:right;
	position:relative;
	top:-4px; 
}
.module_actions li { 
	display:block; 
	float:left; 
	-moz-border-radius-bottomright:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	background:none repeat scroll 0 0 #FFF;
	border-left:1px solid #AAAAAA;
	border-right:1px solid #AAAAAA;
	border-bottom:1px solid #AAAAAA;
	cursor:pointer;
	height:18px;
	padding:3px 5px 0;
	margin: 0 5px 0 0;
	font-size:12px;
	position:relative;
}
.module_actions li a { text-decoration:none; color:#aaa; }
.module_actions li:hover a { color:#000; } 
.module_actions li.current { background: #E6E6E6; height:19px; top:-1px; }
.module_actions li.current a { color:#000; }

.tabbedmodule_tabs {
	list-style:none;
	height:16px;
}

.tabbedmodule_tabs li {
	display:block;
	float:left;
	margin: 0 10px 0 0;
}

.tabbedmodule_tabs li.tab {
	-moz-border-radius-topright:3px;
	-moz-border-radius-topleft:3px;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	background:none repeat scroll 0 0 #E6E6E6;
	border-left:1px solid #AAAAAA;
	border-right:1px solid #AAAAAA;
	border-top:1px solid #AAAAAA;
	cursor:pointer;
	height:18px;
	padding:3px 5px 0;
	position:relative;
	top:0px;	
}

.tabbedmodule_tabs li.tab.current {
	background:none repeat scroll 0 0 #FFFFFF;
	height:19px;
}

.tabbedmodule_tabs li.tab:hover {
	background: #fff;	
}

.tabbedmodule_tabs li a {
	text-decoration:none;
	color: #444;
}
.tabbedmodule_tabs li.current a{
	color: #000;	
}

.tabbedmodule_views {
	list-style:none;
	padding: 4px 10px;
	margin:0;	
}
