
@import url(buttons.css);
@import url(typography.css);
@import url(tables.css);

body { width:100%; height:100%; color: #333; background:#fff; padding:0;margin:0; font-family:arial, sans-serif; }

/* CONTENTS */

#contents { 
  bottom: 20px;
  left: 0;
  position: absolute;
  right: 0;
  top: 50px;
}
.sidebar { 
  background: none repeat scroll 0 0 #FFFFFF;
  border-right: 2px solid #AAAAAA;
  bottom: 0;
  left: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 260px;
  overflow:auto;
}

.workarea {
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  padding:0;
  background: #70A14E;
  overflow:auto;
}

.workarea.with-sidebar {
  left:262px;
}

/* HEADER */

#header { width:100%; height:50px; background:url("../img/tab_shade.png") repeat-x scroll center bottom #333333;  }
#logo { float:left; margin: 4px 99px 0 10px; }

  #mainmenu {
    height: 50px;
    list-style: none outside none;
    margin: 0;
  }
  #mainmenu li a { 
    background: url("../img/tab_shade.png") repeat-x scroll center bottom #333333;
    
    border-right: 1px solid #222222;
    color: #EEEEEE;
    display: block;
    float: left;
    height: 40px;
    padding: 10px 20px 0;
    text-decoration: none;
    text-shadow: 1px 1px 0 #222222;
  }
  #mainmenu li a:hover,#mainmenu li a.current { 
    background:#555 url(../img/tab_shade.png) bottom repeat-x;
    border-right: 1px solid #444;
  }

  #header_submenu {
	  float:right;
	  padding: 0 10px 0 0;	
  }
  #header_submenu ul {
    margin: 14px 0 0;
  }

/* FOOTER */

#footer {
  background: none repeat scroll 0 0 #fff;
  border-top: 1px solid #CCC;
  bottom: 0;
  clear: both;
  left: 0;
  position: absolute;
  right: 0;
}
.copyright {
  color: #555 !important;
  font-size: 10px !important;
  margin: 0;
  padding: 5px;
  text-align: center;
}
.copyright a {
  color: #555 !important;
}

/**
 * DATA BROWSER
 */

#data-console {
  color: #444444;
  font-size: 14px;
  padding: 5px;
  width: 50%;
  float:left;
}

.data-toolbar {
  float:right;
}

#data-refresh {
  background:url("../img/icons/glyphish/01-refresh.png") no-repeat scroll center center #ccc;
}
#data-home {
  background:url("../img/icons/glyphish/53-house.png") no-repeat scroll center center #ccc;
}
#data-create-node, #data-create-relationship {
  background:url("../img/icons/glyphish/add.png") no-repeat scroll 5px center #ccc;
}
#data-refresh:hover {
  background:url("../img/icons/glyphish/01-refresh.png") no-repeat scroll center center #fff;
}
#data-home:hover {
  background:url("../img/icons/glyphish/53-house.png") no-repeat scroll center center #fff;
}
#data-create-node:hover, #data-create-relationship:hover {
  background:url("../img/icons/glyphish/add.png") no-repeat scroll 5px center #fff;
}

#data-create-relationship.selected {
  -moz-border-radius-bottomright:0;
  -webkit-border-bottom-right-radius:0;
  border-bottom-right-radius:0;
  -moz-border-radius-bottomleft:0;
  -webkit-border-bottom-left-radius:0;
  border-bottom-left-radius:0;
  background:url("../img/icons/glyphish/add.png") no-repeat scroll 5px center #333;
}

#data-execute-console {
  background:url("../img/icons/glyphish/06-magnify.png") no-repeat scroll center center #ccc;
}
#data-execute-console:hover {
  background:url("../img/icons/glyphish/06-magnify.png") no-repeat scroll center center #fff;
}


.create-relationship-dialog {
  width:300px;
  background: #333;
  padding: 5px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  -moz-border-radius-topright:0;
  -webkit-border-top-right-radius:0;
  border-top-right-radius:0;
}

.simple-data-area {
  background: none repeat scroll 0 0 #FFFFFF;
  margin: 10px 0;
  padding: 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/**
 * CONSOLE
 */

#console-base {
  background: none repeat scroll 0 0 #000000;
  color: #EEEEEE;
  font-family: monospace;
}

#console-base ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

#console-input {
  border:0;
  background:transparent;
  color:inherit;
  font:inherit;
  width:80%;
}

/* FOLDOUT CONTENT */

.foldout { }
.foldout > h2 { margin: 0; padding:0; width:100%; }
.foldout > h2 a { 
  text-decoration:none; 
  margin: 0; 
  width:auto; 
  display:block; 
  cursor:pointer;
  padding: 3px 5px 2px 22px; 
  color: inherit; 
  font-size: 10px;
  line-height: 16px;
  background:url("../img/tinyarrow-right.png") no-repeat scroll 10px center transparent;
  font-weight: bold;}
.foldout.visible > h2 a {
  background:url("../img/tinyarrow-down.png") no-repeat scroll 10px center transparent;
}
.foldout > h2 a:hover {
  color:#555;
}
.foldout_content { display:none; border-top:1px solid #e4e4e4; }
.foldout.visible .foldout_content { display:block; }

/* INFO LIST */
.info_list { font-size:70%; list-style:none; margin:0; padding: 5px 10px; }
.info_list li { }
.info_list li h3 { margin: 0; padding: 4px 0 0 0; }
.info_list li p { margin: 0; padding: 2px 0; }

/**
 * PLAIN HTML
 */

ol {
  list-style:none;
  padding:0;
  margin:0;
}

ol li {
  margin:0;
  padding: 0;
}

ol li a {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid #EEEEEE;
  color: #333333;
  display: block;
  font-size: 12px;
  padding: 5px;
  text-decoration: none;
}
ol li a:hover {
  background: #eee;
}

ol lh {
  background: none repeat scroll 0 0 #FFFFFF;
  border-top: 1px solid #EEEEEE;
  display: block;
  padding: 5px;
}

/**
 * LOADER
 */
.loading-spinner {
  background: url(../img/transparent-bg.png) repeat scroll 0 0 transparent;
}

.loading-spinner .inner {
  background: url(../img/spinner.gif) no-repeat center center transparent;
  width:100%;
  height:100%;
} 

/**
 * UTILS
 */

.break { clear:both; }
.right { float:right; }
.left { float:left; }
.pad { padding:10px; }

.span-1  { width: 6.958%; float:left;  margin-right:1.5%; }
.span-2  { width: 15.416%; float:left; margin-right:1.5%; }
.span-3  { width: 23.875%; float:left; margin-right:1.5%; }
.span-4  { width: 32.333%; float:left; margin-right:1.5%; }
.span-5  { width: 40.791%; float:left; margin-right:1.5%; }
.span-6  { width: 49.250%; float:left; margin-right:1.5%; }
.span-7  { width: 57.708%; float:left; margin-right:1.5%; }
.span-8  { width: 66.166%; float:left; margin-right:1.5%; }
.span-9  { width: 74.625%; float:left; margin-right:1.5%; }
.span-10 { width: 83.083%; float:left; margin-right:1.5%; }
.span-11 { width: 91.541%; float:left; margin-right:1.5%; }
.span-12 { width: 100%; float:left; margin-right:0%; }

.span-third { width: 32%; float:left; margin-right:2%; }
.span-half { width: 49%; float:left; margin-right:2%; }
.span-all { width: 100%; float:left; clear:right; }

.last { clear:right; margin-right:0; }

/**
 * DEBUGGING
 */

#messages {
  background: none repeat scroll 0 0 #DDDDDD;
  font-family: monospace;
  font-size: 10px;
  height: 300px;
  list-style: none outside none;
  overflow: auto;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 100px;
}
