
p { margin: 0.5em 0; font-size:0.7em; }

.small { font-size:12px; }

h1 { font-size:0.9em; }
h2 { font-size:0.9em; margin: 0.3em 0; }
h3 { font-size:0.8em; }
h4 { font-size:0.8em; }
h5 { font-size:0.6em; }
h6 { font-size:0.6em; }

