h4 About Neo4j
.inner
  h5 Made by
    a.no-icon(href='http://neotechnology.com/')  Neo Technology
  p Copyright &copy; 2002–
    span= new Date().getFullYear()

  h5 License
  p
    a.no-icon(href='http://www.gnu.org/licenses/gpl.html') GPLv3
    |  or
    a.no-icon(href='http://www.gnu.org/licenses/agpl-3.0.html')  AGPL
    |  for Open Source,
    br
    | and
    a.no-icon(href='http://neotechnology.com/')  NTCL
    for Commercial.

  h5 Participate
  ul
    li Ask questions at
      a.no-icon(href='http://stackoverflow.com/questions/tagged/neo4j')  Stack Overflow
    li Discuss Neo4j on
      a.no-icon(href='http://groups.google.com/group/neo4j')  Google Groups
    li Visit a local
      a.no-icon(href='http://neo4j.meetup.com/')  Meetup Group
    li Contribute code on
      a.no-icon(href='http://github.com/neo4j')  Github
    
  h5 Feedback Graph
  p 
    b Suggestions:
    p What do you want to do? How did you try to do it? What would you suggest?
      form(ng-submit="newMessage(suggestion)")
        input.form-control(type='text', placeholder='{{suggestionPlaceholder}}', ng-model='suggestion')    
  p 
    b Options:
    ul(ng-controller="SettingsCtrl")  
      li Share non-sensitive usage data? &nbsp;
        input(type="checkbox", ng-model="settings.shouldReportUdc", ng-change="save()")
      li Accept optional feedback replies? &nbsp;
        input(type="checkbox", ng-model="settings.acceptsReplies", ng-change="save()")
        
  h5 Thanks
  p Neo4j wouldn't be possible without a fantastic community. Thanks for all the feedback, discussions and contributions.
    
footer With&nbsp;
  span.fa.fa-heart
  |  from Sweden.
