h4 Credits
.inner
  h5 Made by
    a.no-icon(href='http://neotechnology.com/')  Neo Technology
  p Copyright &copy; 2002–
    span= new Date().getFullYear()

  h5 License
  p
    a.no-icon(href='http://www.gnu.org/licenses/gpl.html') GPLv3
    |  or
    a.no-icon(href='http://www.gnu.org/licenses/agpl-3.0.html')  AGPL
    |  for Open Source,
    br
    | and
    a.no-icon(href='http://neotechnology.com/')  NTCL
    for Commercial.

  h5 Thanks
  p Neo4j wouldn't be possible without a fantastic community. Thanks for all the feedback, discussions and contributions.

footer With&nbsp;
  span.icon-heart
  |  from Sweden.
