.inner
  h4 Favorites
    a.create-folder(ng-click='folderService.create()')
      .fa.fa-plus
      | New folder
  .droppable(ng-repeat='folder in folders')
    h5.folder(ng-click='folderService.expand(folder)', ng-if="folder.id != 'root'", ng-class="{folded: !folder.expanded}")
      i.fa.fa-caret-right(ng-class="{'fa-rotate-90': folder.expanded}")
      div(edit-in-place='folder.name', on-blur='folderService.save()')
      a.fa.fa-trash-o(ng-click='removeFolder(folder)', tooltip-placement='left', tooltip='Remove folder')
    hr(ng-if="folder.id == 'root'")
    ul.starred.sortable(ng-show='folder.expanded', ui-sortable="sortableOptions", ng-model="folder.documents", ng-class="{'indented': folder.id != 'root'}")
      li(ng-repeat="document in folder.documents")
        include list-item

  h5 Styling / Graph Style Sheet
  ul
    li
      button.btn.btn-sm.btn-popup(ng-click="editor.execScript(settings.cmdchar + 'style')")
        | Graph Style Sheet

  h5 Import
  file-upload(upload="importDocument($content, $name)",
    extension="cyp|cypher|cql|txt|grass",
    message="Drop a file to import Cypher or Grass") &nbsp;
