.inner
  h4 Neo4j {{ neo4j.version }}
  h5 Node labels

  a.token.token-label(ng-show="labels.length", ng-click="editor.execScript('MATCH n RETURN n LIMIT 25')") *
  span(ng-repeat='label in labels | orderBy: identity')
    a.token.token-label(ng-click="editor.execScript(substituteToken('MATCH (n:<token>) RETURN n LIMIT 25', label))") {{label}}

  h5 Relationship types
  a.token.token-relationship-type(ng-show="relationships.length", ng-click="editor.execScript('MATCH ()-[r]->() RETURN r LIMIT 25')") *
  span(ng-repeat='relationshipType in relationships | orderBy: identity')
    a.token.token-relationship-type(ng-click="editor.execScript(substituteToken('MATCH ()-[r:<token>]->() RETURN r LIMIT 25', relationshipType))") {{relationshipType}}

  div(ng-show='propertyKeys')
    h5 Property keys
    span(ng-repeat='propertyKey in propertyKeys | orderBy: identity')
      a.token.token-property-key(ng-click="editor.execScript(substituteToken('MATCH (n) WHERE has(n.<token>) RETURN DISTINCT \"node\" as element, n.<token> AS <token> LIMIT 25 UNION ALL MATCH ()-[r]-() WHERE has(r.<token>) RETURN DISTINCT \"relationship\" AS element, r.<token> AS <token> LIMIT 25', propertyKey))") {{propertyKey}}

  h5 Database
  ul
    li.pair
      .key Location:
      .value {{kernel.StoreDirectory || '-'}}
    li.pair
      .key Size:
      .value {{kernel.TotalStoreSize | humanReadableBytes}}
