#drawer(ng-switch on="whichDrawer")
  div.pane.animate-drawer(ng-switch-when="database")
    include drawer-database
  div.pane.animate-drawer(ng-switch-when="scripts")
    include drawer-scripts
  div.pane.animate-drawer(ng-switch-when="info")
    include drawer-info
  div.pane.animate-drawer(ng-switch-when="credits")
    include drawer-credits
  //-div.pane.animate-drawer(ng-switch-default)
  //-  h4 Super secret sidebar. Shh!!
