.inner
  h4 Information
  h5 Reference

  ul.undecorated
    li 
      a(href='http://neo4j.com/docs/{{neo4j.version | neo4jdoc }}/') Neo4j Manual
    li 
      a(href='http://neo4j.com/developer/') Developer Resources

  h5 Guides

  ul
    li
      a(play-topic='intro') Getting started
    li
      a(play-topic='graphs') Basic graph concepts
    li
      a(play-topic='cypher') Writing Cypher queries

  h5 Example graphs
  ul
    li
      a(play-topic='movie-graph') Movie Graph
    li
      a(play-topic='northwind-graph') Northwind Graph
    li
      a(play-topic='query-template') Query Templates

  h5 Help
  ul
    li
      a(help-topic='cypher') Cypher syntax
    li
      a(help-topic='help') Help command
    li
      a(help-topic='commands') Available commands
    li
      a(help-topic='keys') Keyboard shortcuts
      
footer
  ul
    li
      a.fa.fa-cube(href="../webadmin") &nbsp;Webadmin
