.inner
  h4 About Neo4j
  h5 Made by
    a.no-icon(href='http://neotechnology.com/')  Neo Technology
  p Copyright &copy; 2002–
    span= new Date().getFullYear()

  h5 License
  p
    a.no-icon(href='http://www.gnu.org/licenses/gpl.html') GPLv3
    |  or
    a.no-icon(href='http://www.gnu.org/licenses/agpl-3.0.html')  AGPL
    |  for Open Source,
    br
    | and
    a.no-icon(href='http://neotechnology.com/')  NTCL
    for Commercial.

  h5 Participate
  ul
    li Ask questions at
      a.no-icon(href='http://stackoverflow.com/questions/tagged/neo4j')  Stack Overflow
    li Discuss Neo4j on
      a.no-icon(href='http://groups.google.com/group/neo4j')  Google Groups
    li Visit a local
      a.no-icon(href='http://neo4j.meetup.com/')  Meetup Group
    li Contribute code on
      a.no-icon(href='http://github.com/neo4j')  Github
    
  h5 Feedback
  p 
    a.fa.fa-envelope-o(ng-click="toggleMessenger()") &nbsp;
      b Messages
  p What do you want to do? How did you try to do it? What would you suggest?
    form(ng-submit="newMessage(suggestion)")
      .form-group.form-group-sm
        input.form-control.input-sm(type='text', placeholder='{{suggestionPlaceholder}}', ng-model='suggestion')    
      .form-group.form-group-sm
        button.btn.btn-default.btn-xs(type="submit") New Message
   
  p 
    b Options:
    ul(ng-controller="SettingsCtrl")  
      li.form-group-sm Name
        input.form-control.input-sm(type='text', ng-model="settings.userName", ng-change="save()")
      li Share non-sensitive data? &nbsp;
        input(type="checkbox", ng-model="settings.shouldReportUdc", ng-change="save()")
      //- li Accept replies from us? &nbsp;
      //-   input(type="checkbox", ng-model="settings.acceptsReplies", ng-change="save()")
        
  h5 Thanks
  p Neo4j wouldn't be possible without a fantastic community. Thanks for all the feedback, discussions and contributions.
    
footer With&nbsp;
  span.fa.fa-heart
  |  from Sweden.
