#editor(ng-controller = "EditorCtrl", ng-mousedown="focusEditor($event)")
  .file-bar.slide-down(ng-if="settings.fileMode && editor.document.id")
    .title.icon-star
      {{editor.document.content | autotitle}}
      span.edited.icon-circle-blank(ng-if='editor.hasChanged()')
    .actions
      a.icon.icon-remove(ng-click='editor.setContent("")')
      a.button(ng-if='editor.hasChanged()', ng-click='star()') Save
  .view-editor
    span(ng-class="{'one-line': editorOneLine, 'disable-highlighting': disableHighlighting}")
      .prompt.code-style $
      textarea('ui-codemirror'="{theme: 'neo', mode: 'cypher', autofocus: true, lineNumbers: true, lineWrapping: true, onLoad: codemirrorLoaded}",
        ng-model='editor.content',
        placeholder='{{motd.tip}}'
        )
    ul.controls.inline
      li(ng-if="!(settings.fileMode && editor.document.id)")
        a.balled.golden(ng-class="{active: editor.content, 'enabled': editor.document.id, 'changed': editor.hasChanged()}", ng-click='star()')
          i.icon-star(ng-class="{'icon-exclamation': editor.hasChanged()}")
      li(ng-if="!settings.fileMode")
        a.balled.add(ng-click='editor.setContent("")', ng-class="{active: editor.content}")
            i.icon-plus
      //- li.divider &nbsp;
      li
        a.balled.success('ng-click' = 'editor.execScript(editor.content)', ng-class="{active: editor.content}")
          i.icon-play

    .message-bar.error.slide-down(ng-if='editor.showMessage', ng-class="editor.errorCode")
      span(ng-bind-html-unsafe="editor.errorMessage")
      |  Type <code click-to-code="':help'">:help</code> for a list of available commands.
      .actions
        a.icon-remove(ng-click='editor.showMessage = null')
