#editor(ng-controller = "EditorCtrl", ng-mousedown="focusEditor($event)", ng-class="{'file-loaded': settings.filemode && editor.document.id, 'maximize-editor': editor.maximized}")
  .file-bar.slide-down(ng-if="settings.filemode && editor.document.id")
    .title
      {{editor.document.content | autotitle}}
      //- a.btn.btn-success.btn-xs.btn-save(ng-if='editor.hasChanged()', ng-click='star()') Save
      //- a.btn.btn-default.btn-xs.btn-save(ng-if='editor.hasChanged()', ng-click='star()') Revert
    ul.file-actions.list-inline.pull-left
      li(ng-class="{'modified': editor.hasChanged()}")
        a.fa.fa-star(ng-click='star()') Save
      li
        a.fa.fa-plus(ng-click='create()') New
      li
        a.fa.fa-code-fork(ng-click='clone()') Clone
      li
        a.fa.fa-download(exportable ng-click='exportScript(editor.content)', tooltip="Export to file") Download
    ul.file-actions.list-inline.pull-right
      li
        a.button.fa.fa-play('ng-click' = 'editor.execScript(editor.content)')
      li
        a.button.fa.fa-times(ng-click='editor.setContent("")')
  .view-editor
    span(ng-class="{'one-line': editorOneLine, 'disable-highlighting': disableHighlighting}")
      .prompt.code-style $
      ui-codemirror('ui-codemirror-opts'="{theme: 'neo', mode: 'cypher', autofocus: true, lineNumbers: true, lineWrapping: true, onLoad: codemirrorLoaded}",
        ng-model='editor.content',
        placeholder='{{motd.tip}}'
        )
    ul.controls.list-inline(ng-if="!(settings.filemode && editor.document.id)")
      li
        a.balled.golden(ng-class="{active: editorHasContent, 'enabled': editor.document.id, 'changed': editor.hasChanged()}", ng-click='star()')
          i.fa.fa-star(ng-class="{'fa-exclamation': editor.hasChanged()}")
      li(ng-if="!settings.filemode")
        a.balled.add(ng-click='editor.setContent("")', ng-class="{active: editorHasContent}")
          i.fa.fa-plus
      //- li.divider &nbsp;
      //- li(tooltip-placement='bottom', tooltip='Execute')
      li
        a.balled.success('ng-click' = 'editor.execScript(editor.content)', ng-class="{active: editorHasContent}")
          i.fa.fa-play

    .message-bar.error.slide-down(ng-if='editor.showMessage', ng-class="editor.errorCode")
      span(ng-bind-html-unsafe="editor.errorMessage")
      |  Type <code click-to-code="':help commands'">:help commands</code> for a list of available commands.
      .actions
        a.fa.fa-times-circle(ng-click='editor.showMessage = null')
    .message-bar.info(ng-if='unauthorized', ng-class="editor.errorCode")
      span 
        | Database access not available. Please use <code click-to-code="':server connect'">:server connect</code>
        | to establish connection. There's a graph waiting for you.
