article.guide(ng-controller="ChangePasswordCtrl")
  div
    .row
      .span4(ng-if="!showCurrentPasswordField()")
        h3 Welcome to Neo4j!
        p.lead
          | Before we start, please choose a new password to keep your data safe.
      .span4(ng-if="showCurrentPasswordField()")
        h3 Password change
        p.lead(ng-show="showCurrentPasswordField()")
          | Enter your current password and the new twice to change your password. 
          | Your authorization token will also be invalidated and regenerated.
      .span1
      .span5(ng-hide="password_changed")
        .form
          p(ng-show='showCurrentPasswordField()')
            | Current Password
            br
            input(type='password', ng-model="current_password", style="margin: 0")
          p
            | New Password
            br
            input(type='password', ng-model="new_password", style="margin: 0")
            br
            | New Password Again
            br
            input(type='password', ng-model="new_password2", style="margin: 0")
          p
            button.btn(ng-click="setNewPassword()", style="margin: 0") Set  password
      .span5(ng-show="password_changed")
        br
        br
        p Your new password is now in effect.