.code-bar
  ul.actions.list-inline
    li.dropdown(dropdown="", ng-show='frame.type == "http"')
      a.button.fa.fa-download.dropdown-toggle(dropdown-toggle="")
      ul.dropdown-menu
        li
          a(exportable ng-click='exportJSON(frame.response)') Download JSON
    li.dropdown(dropdown="", ng-show='frame.type == "shell"')
      a.button.fa.fa-download.dropdown-toggle(dropdown-toggle="")
      ul.dropdown-menu
        li
          a(exportable ng-click='exportText(frame.response)') Download TXT
    li.dropdown(dropdown="", ng-show='frame.type == "cypher"')
      a.button.fa.fa-download.dropdown-toggle(dropdown-toggle="")
      ul.dropdown-menu
        li
          a(exportable ng-click='exportGraphSVG()', ng-show='isActive("graph")') Export SVG
          a(exportable ng-click='exportPlanSVG()', ng-show='isActive("plan")') Export SVG
          a(exportable ng-click='exportGraphPNG()', ng-show='isActive("graph")') Export PNG
          a(exportable ng-click='exportPlanPNG()', ng-show='isActive("plan")') Export PNG
          a(exportable ng-click='exportJSON(frame.response.table._response)') Export JSON
          a(exportable ng-click='exportCSV(frame.response.table)') Export CSV
    li
      a.button.fa.fa-thumb-tack(ng-click='pin(frame)', ng-class="{selected: pinned}", tooltip-placement='bottom', tooltip='Pin at top')
    li
      a.button.fa.fa-expand(ng-click="toggleFullscreen(true)", tooltip-placement='bottom', tooltip='Fullscreen', ng-show='frame.fullscreenable')
    li
      a.button.fa.fa-times-circle(ng-click='frames.close(frame)', tooltip-placement='bottom', tooltip='Close')
  .status
    span.prompt.code(ng-if='frame.type == "cypher"') $
    span.code.mono(click-to-code='frame.input') {{frame.input | uncomment}}
  a.close-fullscreen.fa.fa-compress(ng-click="toggleFullscreen(false)")
