article.guide(ng-controller="ChangePasswordCtrl")
  div
    .row(ng-show="(auth_service.isAuthenticated() && auth_service.current_user) || password_change_required")
      .span4(ng-if="!showCurrentPasswordField()")
        h3 Welcome to Neo4j!
        p.lead
          | Before we start, please choose a new password to keep your data safe.
      .span4(ng-show="showCurrentPasswordField()")
        h3 Password change
        p.lead(ng-show="showCurrentPasswordField()")
          | Enter your current password and the new twice to change your password. 
          | Your authorization token will also be invalidated and regenerated.
      .span1
      .span5(ng-hide="password_changed")
        .form
          p(ng-show='showCurrentPasswordField()')
            | Current Password
            br
            input(type='password', focus-on="showCurrentPasswordField()", on-enter="focus", on-enter-target-id="new_connect_password1", ng-model="current_password", style="margin: 0", tabindex="1")
          p
            | New Password
            br
            input(type='password', focus-on="!showCurrentPasswordField()", id="new_connect_password1", on-enter="focus", on-enter-target-id="new_connect_password2", ng-model="new_password", style="margin: 0", tabindex="2")
            br
            | New Password Again
            br
            input(type='password', id="new_connect_password2", on-enter="click", on-enter-target-id="set_connect_password", ng-model="new_password2", style="margin: 0", tabindex="3")
          p
            button.btn(id="set_connect_password", ng-click="setNewPassword()", style="margin: 0") Set  password
      .span5(ng-show="password_changed")
        br
        br
        p Your new password is now in effect.
    .row(ng-show="auth_service.isAuthenticated() && !auth_service.current_user && !password_change_required")
      .span4
        h3 Password change
        p.lead This is not available.
      .span1
      .span5
        p You can't change password when server authentication is disabled.
    .row(ng-show="!auth_service.isAuthenticated() && !password_change_required")
      .span4
        h3 Password change
        p.lead This is not available.
      .span1
      .span5
        p You can't change password when not authenticated.
