.inspector-footer(ng-if="Inspector.length > 0", ng-class="{contracted: inspectorContracted}")
  .row-toggle(update-ui='inspectorChanged', overflow-with-toggle='', ng-click="inspectorContracted = !inspectorContracted")
    .fa(ng-class="inspectorContracted ? 'fa-caret-left' : 'fa-caret-down'", class="overflow-indicator")
  ul.list-unstyled.list-items
    li.inspector-footer-row(ng-repeat="row in Inspector.items", ng-include="row.tmpl", onload ="item = row.data")

.inspector-footer(ng-if="Inspector.length == 0")
  .inspector-footer-row
    span
      | Displaying
      ng-pluralize(count='frame.response.graph.nodes().length', when="{one: '1 node', other: '{} nodes'}")
      | ,
      ng-pluralize(count='frame.response.graph.relationships().length', when="{one: '1 relationship', other: '{} relationships'}")