#nav
  ul.nav.list-group
    li.nav-header(ng-class='{active: showingDrawer("database") }')
      .cover(ng-click='toggleDrawer("database")', tooltip='Overview', tooltip-placement='bottom')
      a Neo4j
        .logo(fancy-logo ng-class='{loading: currentFrame.isLoading}')
          .ball.one
          .ball.two
          .ball.three
    li(ng-class='{active: showingDrawer("scripts") }', tooltip='Favorites', tooltip-placement='bottom')
      a.fa.fa-star(ng-click='toggleDrawer("scripts")')
    li(ng-class='{active: showingDrawer("info") }', tooltip='Information', tooltip-placement='bottom')
      a.fa.fa-info-circle(ng-click='toggleDrawer("info")')
  ul.nav.list-group.bottom
    li(ng-class='{active: showingDrawer("preferences") }', tooltip='Configuration', tooltip-placement='top')
      a.fa.fa-cog(ng-click='toggleDrawer("preferences")')
    li(ng-class='{active: showingDrawer("credits") }', tooltip='About', tooltip-placement='top')
      a(ng-click='toggleDrawer("credits")') &#64;
