#nav
  ul.nav.nav-list
    li.nav-header(ng-class='{active: showingDrawer("database") }')
      .cover(ng-click='toggleDrawer("database")')
      a Neo4j
        .logo(fancy-logo ng-class='{loading: currentFrame.isLoading}')
          .ball.one
          .ball.two
          .ball.three
    li(ng-class='{active: showingDrawer("scripts") }')
      a.icon-star(ng-click='toggleDrawer("scripts")')
    li(ng-class='{active: showingDrawer("info") }')
      a.icon-info-sign(ng-click='toggleDrawer("info")')
  ul.nav.nav-list.bottom
    li(ng-class='{active: showingDrawer("profile") }', ng-if='currentUser')
      a(ng-click='toggleDrawer("profile")')
        &nbsp;
        .avatar(ng-style='{"background-image": "url("+currentUser.image+")"}', ng-if='currentUser.image')
    li(ng-class='{active: showingDrawer("credits") }')
      a(ng-click='toggleDrawer("credits")') &copy;
