p
  | {{planStatistics(frame)}}
.actions.status-bar-actions
  a.button.fa.fa-caret-square-o-up(ng-click="toggleExpanded(false)", tooltip='Collapse all', tooltip-placement='left')
  a.button.fa.fa-caret-square-o-down(ng-click="toggleExpanded(true)", tooltip='Expand all', tooltip-placement='left')
  a.button.fa(help-topic='query plan', tooltip='Help topic', tooltip-placement='left')
