p
  | {{planStatistics(frame)}}
.actions.status-bar-actions
  a.button.fa.fa-caret-square-o-up(ng-click="toggleExpanded(false)")
  a.button.fa.fa-caret-square-o-down(ng-click="toggleExpanded(true)")
  a.button.fa(help-topic='query plan')
