span
  | {{planStatistics(frame)}}
.actions.status-bar-actions
  a.button.fa.fa-minus-square-o(ng-click="toggleExpanded(false)")
  a.button.fa.fa-plus-square-o(ng-click="toggleExpanded(true)")
  a.button.fa(help-topic='query plan')
