#grass(ng-controller='StylePreviewCtrl')
  .modal-header
    a.close.pull-right(ng-click='togglePopup()')
      &times;
    ul.list-inline
      li
        h3(style="display:inline;") Graph Style Sheet
      li
        a.fa.fa-download(exportable ng-click='exportGraSS(code)', tooltip-placement="bottom", tooltip="Export to file")
      li
        a.fa.fa-fire-extinguisher(exportable ng-click='reset()', tooltip-placement="bottom", tooltip="Reset to default style")
  .modal-body
    textarea(ng-model="code", disabled)
    file-upload(upload='import($content)', message="Drop a grass-file here to import") &nbsp;
