#grass(ng-controller='StylePreviewCtrl')
  .modal-header
    a.close.pull-right(ng-click='togglePopup()')
      &times;
    ul.inline
      li
        h3(style="display:inline;") Graph Style Sheet
      li
        a.icon-download-alt(exportable ng-click='exportGraSS(code)', tooltip="Export to file")
      li
        a.icon-fire-extinguisher(exportable ng-click='reset()', tooltip="Reset to default style")
  .modal-body
    textarea(ui-codemirror="{theme: 'css', mode: 'css', readOnly: true}", ng-model="code")
    file-upload(upload='import($content)', message="Drop a grass-file here to import") &nbsp;
