#password-change(ng-controller='ChangePasswordCtrl')
  .modal-header
    a.close.pull-right(ng-click='togglePopup()')
      &times;
    ul.inline
      li
        h4(style="display:inline;") Server Password Change Required
  .modal-body
    .form
      p
        | Current Password
        br
        input(type='password', ng-model="current_password", style="margin: 0")
        span.error(ng-show="current_empty_error")
          br
          | You have to enter old password.
      p
        | New Password
        br
        input(type='password', ng-model="new_password", style="margin: 0")
        span.error(ng-show="empty_error")
          br
          | You have to enter a new password.
        br
        | New Password Again
        br
        input(type='password', ng-model="new_password2", style="margin: 0")
        span.error(ng-show="mismatch_error")
          br
          | The new password fields value do not match.
      p
        button.btn(ng-click="setNewPassword()", style="margin: 0") Set new password
