div()
  .intro(ng-show="neo4j.version && frames.items.length == 0")
    footer
      {{motd.quote.text}}
      br
      &mdash; {{motd.quote.author}}
  #stream
    .frame.frame-in(
      ng-repeat = 'frame in frames.items | orderBy:["-pinTime", "-startTime"]'
    )
      div(ng-include='frame.templateUrl', ng-controller="FrameCtrl")
