//- div(ng-controller='StreamCtrl')
//-   .intro(ng-animate="{hide:'intro-out', show:'intro-in'}", ng-show="neo4j.version && frames.items.length == 0")
//-     footer
//-       {{motd.quote.text}}
//-       br
//-       &mdash; {{motd.quote.author}}
//-   #stream(scroll-top-when="frames.length")
//-     .frame(
//-       ng-repeat = 'frame in frames.items | orderBy:"startTime":true'
//-       ng-animate="{leave:'frame-out', enter:'frame-in'}"
//-       ng-include = "frame.templateUrl"
//-     )


div()
  .intro(ng-animate="{hide:'intro-out', show:'intro-in'}", ng-show="neo4j.version && frames.items.length == 0")
    footer
      {{motd.quote.text}}
      br
      &mdash; {{motd.quote.author}}
  #stream(scroll-top-when="frames.length")
    .frame.frame-in(
      ng-repeat = 'frame in frames.items | orderBy:"startTime":true'
    )
      div(ng-include='frame.templateUrl')
