.left-fixed.stretch
  .sidebar-nav
    ul.nav.nav-list('ng-repeat' = '(section, items) in sections')
      li.nav-header {{section}}
      li('ng-repeat' = '(name, item) in items', 'ng-class' = '{active: currentItem.name == name}')
        a('ng-click' = 'selectItem(section, name)') {{name}}

.right-fixed.stretch
  .container-fluid
    h2 {{currentItem.name}}
    p {{currentItem.description}}
    ul
      li {{attr}}
    table.table-condensed
      tbody
        tr('ng-repeat' = 'attr in currentItem.attributes | filter:simpleValues')
          th(style='text-align: right') {{attr.name}}:
          td {{attr.value.toString()}}
    div('ng-repeat' = 'attr in currentItem.attributes | filter:objectValues')
      h3 {{attr.name}}
      p('ng-show' = 'attr.name != attr.description') {{attr.description}}
      table.table-condensed
        tbody
          tr('ng-repeat' = '(k, v) in attr.value')
            th(style='text-align: right') {{k}}:
            td {{stringify(v)}}
