*~
\#*
target
out
.project
.classpath
.settings
.externalToolBuilders/
.scala_dependencies
.factorypath
.cache
.cache-main
.cache-tests
*.iws
*.ipr
*.iml
.idea
.DS_Store
.shell_history
.mailmap
.java-version
community/server/data
enterprise/server-enterprise/data
advanced/server-advanced/data
advanced/server-advanced/neo4j-home
community/neo4j-harness/data
community/server-plugin-test/neo4j-home
enterprise/server-enterprise/neo4j-home
integrationtests/data
.cache-main
.cache-tests
Thumbs.db
