*~
\#*
target
out
.floo*
.project
.classpath
.settings
.externalToolBuilders/
.scala_dependencies
.factorypath
.cache
.cache-main
.cache-tests
*.iws
*.ipr
*.iml
.idea
.vscode
.DS_Store
.shell_history
.mailmap
.java-version
.cache-main
.cache-tests
Thumbs.db
.cache-main
.cache-tests
/cypher-shell.zip
packaging/standalone/src/main/distribution/cypher-shell
/.profiler/
dependency-reduced-pom.xml
