article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Commands
        p.lead Typing commands is 1337
      .details.col-sm-9
        p
          | In addition to composing and running Cypher queries, the editor bar up above &uarr;
          | understands a few client-side commands, which begin with a&nbsp;
          code :
          | . Without a colon, we'll assume you're trying to enter a Cypher query.
        table.table-condensed.table-help
          tr
            th Information:
            td
              a(help-topic="help") :help help
              a(help-topic="play") :help play
          tr
            th Server connection:
            td
              a(help-topic="server") :help server
          tr
            th REST:
            td
              a(help-topic='rest-get') :help REST GET
              a(help-topic='rest-post') :help REST POST
              a(help-topic='rest-put') :help REST PUT
              a(help-topic='rest-delete') :help REST DELETE
          tr
            th Database:
            td
              //- a(click-to-code="':profile'")  :profile
              a(help-topic="schema") :help schema
          tr
            th Editor:
            td
              a(help-topic="clear") :help clear
              //- a(click-to-code="':keys'")  :keys
          tr
            th Command history:
            td
              a(help-topic="history") :help history
