article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 CREATE INDEX ON
        p.lead Index labeled nodes by property
      .details.col-sm-9
        p
          | The&nbsp;
          code CREATE INDEX ON
          |  clause will create and populate an index on a property for all nodes that have a label.

        table.table-condensed.table-help
          tr
            th Usage:
            td
              code.code.runnable CREATE INDEX ON :Person(name)
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-schema-index.html') schema indexes
              |  manual page
          tr
            th Related:
            td
              a(help-topic='drop-index-on') :help DROP INDEX ON
              | &nbsp;
              a(help-topic='cypher') :help Cypher
