article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 CREATE UNIQUE
        p.lead Match meets Create
      .details.col-sm-9
        p
          | The&nbsp;
          code CREATE UNIQUE
          |  clause is a mix of&nbsp;
          code MATCH
          |  and&nbsp;
          code CREATE
          |  &mdash; it will match what it can, and create what is missing.

        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-create-unique.html') CREATE UNIQUE
              |  manual page
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              | &nbsp;
              a(help-topic='create') :help CREATE
              | &nbsp;
              a(help-topic='merge') :help MERGE
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            MATCH (us:Country)
            WHERE us.name = 'United States'
            CREATE UNIQUE (us)-[:STATE]->(ca {name:'California'})
            RETURN ca
          figcaption Finds the country named "United States". If found, will then
            | create a new state named California, but only if it
            | doesn't already exist.
