article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Cypher
        p.lead A graph query language
      .details.col-sm-9
        p
          | Cypher is Neo4j's graph query language. Working with a graph is all about understanding
          | patterns of data, which are central to Cypher queries.
        p Use&nbsp;
          code MATCH
          |  clauses for reading data, and&nbsp;
          code CREATE
          |  or&nbsp;
          code MERGE
          |  for writing data.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              a(href='http://neo4j.com/docs/{{neo4j.version}}/cypher-introduction.html')
                | Cypher introduction
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              | &nbsp;
              a(help-topic='where') :help WHERE
              | &nbsp;
              a(help-topic='return') :help RETURN
              | &nbsp;
              a(help-topic='create') :help CREATE
              | &nbsp;
              a(help-topic='merge') :help MERGE
              | &nbsp;
              a(help-topic='delete') :help DELETE
              | &nbsp;
              a(help-topic='set') :help SET
              | &nbsp;
              a(help-topic='foreach') :help FOREACH
              | &nbsp;
              a(help-topic='with') :help WITH
              | &nbsp;
              a(help-topic='load-csv') :help LOAD CSV
              | &nbsp;
              a(help-topic='unwind') :help UNWIND
              | &nbsp;
              a(help-topic='start') :help START
              | &nbsp;
              a(help-topic='create-unique') :help CREATE UNIQUE
              | &nbsp;
              a(help-topic='create-index-on') :help CREATE INDEX ON
          tr
            th Guide:
            td
              a(play-topic='cypher') Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.
            MATCH &lt;pattern&gt; WHERE &lt;conditions&gt; RETURN &lt;expressions&gt;
          figcaption Basic form of a Cypher read statement. (Not executable)
