article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 ENDS WITH
        p.lead Matching the end of a string
      .details.col-sm-9
        p
          | The end of strings can be matched using 
          code ENDS WITH
          | . The matching is case-sensitive.

        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-where.html') WHERE
              |  manual page
          tr
            th Related:
            td
              a(help-topic='starts-with') :help STARTS WITH
              | &nbsp;
              a(help-topic='contains') :help CONTAINS
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.standalone-example.
            MATCH (director:Person)
            WHERE director.name ENDS WITH 'ter'
            RETURN director.name
          figcaption Match directors with a name that ends with "ter".
