article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Help
        p.lead What is all this?
      .details.col-sm-9
        p
          | Neo4j Browser is a command shell. Use the editor bar up above &uarr; to
          | enter Cypher queries or client-side commands. Each command will produce
          | a "frame" like this one in the result stream.
        p Use the&nbsp;
          code :help
          |  command to learn about other topics.
        p
          | New to Neo4j? Try one of the guides to learn the basics.

        table.table-condensed.table-help
          tr
            th Usage:
            td
              code :help &lt;topic&gt;
          tr
            th Topics:
            td
              a(help-topic="cypher") :help cypher
              | &nbsp;
              a(help-topic="commands") :help commands
              | &nbsp;
              a(help-topic="keys") :help keys
          tr
            th Guides:
            td
              a(play-topic="intro") :play intro
              | &nbsp;
              a(play-topic="graphs") :play graphs
              | &nbsp;
              a(play-topic="cypher") :play cypher
          tr
            th Sample data:
            td
              a(play-topic="movies") :play movies
          tr
            th Reference:
            td
              a(href="http://neo4j.com/docs/{{neo4j.version}}/") Neo4j Manual


