article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 History
        p.lead Show command history
      .details.col-sm-9
        p The&nbsp;
          code :history
          |  command will display your {{settings.maxHistory}} most recent executed commands.
        table.table-condensed.table-help
          tr
            th Related:
            td
              a(help-topic="help") :help help
              a(help-topic="commands") :help commands
