article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Keys
        p.lead Keyboard shortcuts
      .details.col-sm-9

        table.table-condensed.table-help
          tr
            td
              b Editor action
            td
              b Any mode
            td
              b Single-line mode
          tr
            td
              | Execute current command
            td
              .key.code &lt;Ctrl-Return&gt;
            td
              .key.code &lt;Return&gt;
          tr
            td
              | Previous command in history
            td
              .key.code &lt;Ctrl-Up-Arrow&gt;
            td
              .key.code &lt;Up-Arrow&gt;
          tr
            td
              | Next command in history
            td
              .key.code &lt;Ctrl-Down-Arrow&gt;
            td
              .key.code &lt;Down-Arrow&gt;
          tr
            td
              | Switch to multi-line editing
            td &nbsp;
            td
              .key.code &lt;Shift-Return&gt;
          tr
            td &nbsp;
          tr
            td
              b Global actions
          tr
            td
              | Change focus to editor
            td
              .key.code /
          tr
            td
              | Toggle fullscreen editor
            td
              .key.code Esc
          tr
            td &nbsp;
          tr
            td
              b Platform specific
          tr
            td Mac users
            td 
              |Use 
              span.key.code
                |Cmd
              |  instead of 
              span.key.code
                |Ctrl
