article.help
    .container-fluid
        section.row-fluid.summary
            .summary.col-sm-3
                h3 LOAD CSV
                p.lead Load data from a CSV file
            .details.col-sm-9
                p
                    | The&nbsp;
                    code LOAD CSV
                    |  clause instructs Neo4j to load data from a CSV file
                    | located at the given URL. This is typically used
                    | with&nbsp;
                    code CREATE
                    |  and&nbsp;
                    code MERGE
                    |  to import tabular data into the graph. If you are
                    |  importing a substantially sized data set, you should
                    |  consider using&nbsp;
                    code LOAD CSV
                    |  in combination with&nbsp;
                    code USING PERIODIC COMMIT
                    |  .
                table.table-condensed.table-help
                    tr
                        th Reference:
                        td
                            code
                                a(href='http://neo4j.com/docs/{{neo4j.version}}/cypher-import.html') LOAD CSV
                            |  manual page;&nbsp;
                            code
                                a(href='http://neo4j.com/docs/{{neo4j.version}}/cypher-periodic-commit.html') USING PERIODIC COMMIT
                            |  manual page
                    tr
                        th Related:
                        td
                            a(help-topic='CREATE') :help CREATE
                            | &nbsp;
                            a(help-topic='MERGE') :help MERGE
                            | &nbsp;
                            a(help-topic='cypher') :help Cypher
        section.row-fluid.example
            .col-sm-9.col-sm-offset-3
                figure
                    pre.code.runnable.
                      LOAD CSV FROM "http://data.neo4j.com/examples/person.csv" AS line
                      MERGE (n:Person {id: toInt(line[0])})
                      SET n.name = line[1]
                      RETURN n
                    figcaption Import Person nodes from a CSV file into the graph
