article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 MATCH
        p.lead Describe a data pattern
      .details.col-sm-9
        p
          | The&nbsp;
          code MATCH
          |  clause describes a pattern of graph data. Neo4j will collect
          | all paths within the graph which match this pattern.
          | This is often used with&nbsp;
          code WHERE
          |  to filter the collection.
        p
          code MATCH
          |  descibes the structure, and&nbsp;
          code WHERE
          |  specfies the content of a query.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-match.html') MATCH
              |  manual page
          tr
            th Related:
            td
              a(help-topic='where') :help WHERE
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            MATCH (director:Person)-[:DIRECTED]->(movie)
            WHERE director.name = "Steven Spielberg"
            RETURN movie.title
          figcaption Find all the many fine films directed by Steven Spielberg.
