article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 MERGE
        p.lead Create missing graph data
      .details.col-sm-9
        p
          | The&nbsp;
          code MERGE
          |  clause ensures that an expected pattern exists in the graph, reconciling
          | whether data was found, or needs to be created through sub-clauses&nbsp;
          code ON CREATE
          |  and&nbsp;
          code ON MATCH
          | .
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-merge.html') MERGE
              | &nbsp;
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-merge.html#merge-merge-with-on-create.html') ON CREATE
              | &nbsp;
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-merge.html#merge-merge-with-on-match.html') ON MATCH
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              | &nbsp;
              a(help-topic='create') :help CREATE
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            MERGE (charlie:Person { name:'Charlie Sheen', age:10 })
            RETURN charlie
          figcaption Look for a person named Charlie Sheen, age 10. If not found, create such a person.



