article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 PROFILE
        p.lead Profile query execution
      .details.col-sm-9
        p
          | Prefix any query with the&nbsp;
          code PROFILE
          |  keyword to have Neo4j return the execution plan for the query,
          | including detailed profilling information.
        p
          | See&nbsp;
          a(help-topic='query plan') :help QUERY PLAN
          |  for a guide to understanding the query plan output.

        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/execution-plans.html') Execution Plans
              |  manual page
          tr
            th Related:
            td
              a(help-topic='explain') :help EXPLAIN
              | &nbsp;
              a(help-topic='query plan') :help QUERY PLAN
              | &nbsp;
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            PROFILE
            MATCH (n:Person) RETURN n LIMIT 25
          figcaption Find nodes with the Person label, and profile query execution.
