article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 REST
        p.lead Any HTTP verb
      .details.col-sm-9
        p
          | The editor bar has convenience commands for sending any HTTP verb help
          | to Neo4j's REST API. For PUT and POST, include a JSON payload.
        table.table-condensed.table-help
          tr
            th REST:
            td
              a(help-topic='rest-get') :help REST GET
              | ,
              a(help-topic='rest-post') :help REST POST
              | ,
              a(help-topic='rest-put') :help REST PUT
              | ,
              a(help-topic='rest-delete') :help REST DELETE


