article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 REST POST
        p.lead
      .details.col-sm-9
        p Use&nbsp;
          code :POST
          |  to send HTTP POST to Neo4j's REST interface.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/rest-api.html') REST
          tr
            th Related:
            td
              a(help-topic='rest-get') :help REST GET
              | &nbsp;
              a(help-topic='rest-post') :help REST POST
              | &nbsp;
              a(help-topic='rest-put') :help REST PUT
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            :POST /db/data/node { "name":"Tiberius" }
          figcaption Create a new node, with a name property.
