article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 RETURN
        p.lead data from a query
      .details.col-sm-9
        p
          | The&nbsp;
          code RETURN
          |  clause defines what to include in a query result set, specified as a comma separated list of expressions.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-return.html') RETURN
              |  manual page
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              | &nbsp;
              a(help-topic='where') :help WHERE
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            MATCH (director:Person)-[:DIRECTED]->(movie)
            RETURN director.name AS Director, collect(movie.title) AS Movies
          figcaption Return all directors, each paired with a collection of the movies they've directed.

