article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 Schema
        p.lead Database schema indexes
      .details.col-sm-9
        p
          | Shows information about database schema indexes.
        table.table-condensed.table-help
          tr
            th Usage:
            td
              code :schema &lt;action&gt; &lt;options...&gt;
          tr
            th Actions:
            td
              ul.list-unstyled
                li ls - list indexes
                li await - wait for an index to come online
          tr
            th Options:
            td
              ul.list-unstyled
                li -l   Specifies which label selected operation is about.
                li -p   Specifies which property selected operation is about.
                li -v   Verbose output of failure descriptions etc.
          tr
            th Examples:
            td
              code.code :schema ls -l :Person
              br
              code.code :schema await -l Person -p name
          tr
            th Related:
            td
              a(help-topic="create-index-on") :help CREATE INDEX ON
          tr
            th Reference:
            td
              a(href="http://neo4j.com/docs/{{neo4j.version}}/query-schema-index.html") Neo4j Schema Indexes
