article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 START
        p.lead with known data
      .details.col-sm-9
        p
          | The&nbsp;
          code START
          | clause should only be used when accessing legacy indexes. 
          br
          | In all other cases, use 
          code MATCH
          | instead.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://docs.neo4j.org/chunked/{{neo4j.version}}/query-start.html') START
              |  manual page
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              | &nbsp;
              a(help-topic='return') :help RETURN
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            START n=node:names(name = "A")
            RETURN n
          figcaption The query returns the node indexed with the name "
            code A
            | " in the legacy index name "names".

