article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 START
        p.lead with known data
      .details.col-sm-9
        p
          | The&nbsp;
          code START
          | clause should only be used when accessing legacy indexes. 
          br
          | In all other cases, use 
          code MATCH
          | instead.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-start.html') START
              |  manual page
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              | &nbsp;
              a(help-topic='return') :help RETURN
              | &nbsp;
              a(help-topic='cypher') :help Cypher
