article.help.alert
  .container-fluid
    section.row-fluid
      .title.col-sm-3
        h3
          span {{frame.input | commandError}}
        p.lead {{ motd.unrecognized }}
      .details.col-sm-9
        table.table-condensed.table-help
          tr
            th.lead You said:
            td
              code.lead {{frame.input | uncomment}}
          tr
            th Try:
            td
              ul
                li
                  a(help-topic='help') :help
                  | &nbsp;- for general help about using this Browser
                li
                  a(help-topic='cypher') :help commands
                  | &nbsp;- to see available commands
                li
                  a(href="http://neo4j.com/docs/") Neo4j Manual
                  | &nbsp;- for detailed information about Neo4j
          tr
            th Keys:
            td
              ul
                li
                  code &lt; ctrl - &uarr; &gt;
                  | &nbsp; to retrieve previous entry from history.
                li
                  code &lt; ctrl - &uarr; &gt;
                  | &nbsp; to retrieve previous entry from history.
