article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 UNWIND
        p.lead unwind a collection into a sequence of rows
      .details.col-sm-9
        p
          | The&nbsp;
          code UNWIND
          |  expands a collection in to a sequence of rows. Any existing identifiers are still available after&nbsp;
          code UNWIND
          | .
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-unwind.html') UNWIND
              |  manual page
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            MATCH p = shortestPath( (lucy:Person {name:"Lucy Liu"})-[:ACTED_IN*]-(bacon:Person {name:"Kevin Bacon"}) )
            UNWIND nodes(p) as n
            RETURN n.name
          figcaption Return a set of actors that form the shortest acquaintance links between Lucy Liu and Kevin Bacon

