article.help
  .container-fluid
    section.row-fluid.summary
      .summary.col-sm-3
        h3 WITH
        p.lead Piped queries
      .details.col-sm-9
        p
          | The&nbsp;
          code WITH
          |  clause allows queries to be chained together, piping the results from one
          | to be used as starting points or criteria in the next.
        table.table-condensed.table-help
          tr
            th Reference:
            td
              code
                a(href='http://neo4j.com/docs/{{neo4j.version}}/query-with.html') WITH
              |  manual page
          tr
            th Related:
            td
              a(help-topic='match') :help MATCH
              | &nbsp;
              a(help-topic='return') :help RETURN
              | &nbsp;
              a(help-topic='cypher') :help Cypher
    section.row-fluid.example
      .col-sm-9.col-sm-offset-3
        figure
          pre.code.runnable.
            MATCH (director:Person)-[:DIRECTED]->(movie)
            WITH director, count(movie) as directed ORDER BY directed DESC LIMIT 1
              MATCH (hopeful:Person)-[:ACTED_IN]->(movie)
              WITH director, hopeful, count(movie) as appearances ORDER BY appearances LIMIT 1
                MATCH p=(director)-[*..4]-(hopeful)
              RETURN p
          figcaption Find a path from a hopeful actor to Hollywood's most prolific director.
