Source: neo4j
Section: misc
Priority: optional
Maintainer: ${neo4j.debian.maintainer}
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://neo4j.org/

Package: neo4j
Architecture: all
Depends: ${misc:Depends}, daemon, adduser, psmisc, lsof, lsb-base, openjdk-7-jre | openjdk-8-jre | java7-runtime
Conflicts:
Replaces: neo4j-enterprise, neo4j-advanced
Description: graph database server
 Neo4j server is a database that stores data as graphs rather than tables.
