#header
  #header_submenu
    %ul.horizontal_menu
      %li
        %a(href="http://docs.neo4j.org/") Documentation
  %img#logo(src="img/neo_icon.png")
#contents
  

#footer
  %p.copyright Copyright (c) 2002-2010
    \ 
    %a(href="http://neotechnology.com") Neo Technology
    \.
  %p.copyright This is free software, available under the 
    \ 
    %a(href="http://www.gnu.org/licenses/agpl.html") GNU Affero General Public License
     version 3 or greater.