#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_installinit:
	# we want the service to be called neo4j, even if the package is neo4j-enterprise
	dh_installinit --name=neo4j
