#header
  #header_submenu
    #global-loading-indicator
      .loading-spinner Loading
    %ul.button-bar.grouped#help_menu
      %li
        %a.micro-button#guide-button(href="") Guide
  %img#logo(src="img/logo.png")
  #mainmenu

#contents
  

#footer
  %p.copyright Copyright (c) 2002-2013
    \ 
    %a(href="http://neotechnology.com") Neo Technology
    \.
    \  
    \ License:
    %a(href="http://www.gnu.org/licenses/gpl.html") GPLv3
    \ 
    \ Icons by
    \ 
    %a(href="http://glyphish.com/") Glyphish
    \ &amp;
    \ 
    %a(href="http://tango.freedesktop.org/Tango_Icon_Library") Tango
    \.
