#header
  #header_submenu
    #global-loading-indicator
      .loading-spinner Loading
    %ul.horizontal_menu
      %li
        %a.micro-button#guide-button(href="") Guide
  %img#logo(src="img/logo.png")
  #mainmenu

#contents
  

#footer
  %p.copyright Copyright &copy; 2002-2018
    %span 
      %a(href="http://neotechnology.com") Neo Technology
      \.
      \ &nbsp;
    %span License: 
      %a(href="http://www.gnu.org/licenses/gpl.html") GPLv3 
      \ or 
      %a(href="http://www.gnu.org/licenses/agpl-3.0.html") AGPL
      \ for Open Source, and 
      %a(href="http://neotechnology.com") NTCL 
      \ for Commercial.
      \ &nbsp;
    %span Icons by
      \ 
      %a(href="http://glyphish.com/") Glyphish
      \ &amp;
      \ 
      %a(href="http://tango.freedesktop.org/Tango_Icon_Library") Tango
      \.
