#header
  #header_submenu
    #global-loading-indicator
      .loading-spinner Loading
    %ul.horizontal_menu
      %li
        %a.micro-button(target="_blank" href="http://docs.neo4j.org/chunked/@@neo4j.version@@/") Documentation
  %img#logo(src="img/logo.png")
  #mainmenu

#contents
  

#footer
  %p.copyright Copyright (c) 2002-2012
    \ 
    %a(href="http://neotechnology.com") Neo Technology
    \.
    \ This is free software, available under the 
    \ 
    %a(href="http://www.gnu.org/licenses/gpl.html") GNU General Public License
    \ version 3 or greater.
    \ Icons by
    \ 
    %a(href="http://glyphish.com/") Glyphish
    \ &amp;
    \ 
    %a(href="http://tango.freedesktop.org/Tango_Icon_Library") Tango
    \.
