.animate-scale-enter,
.animate-scale-leave
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all
    position: relative
    display: block

.animate-scale-leave.animate-scale-leave-active,
.animate-scale-enter
    transform: scaleY(0)
    max-height: 0px
    opacity: 0

.animate-scale-enter.animate-scale-enter-active,
.animate-scale-leave
    transform: scaleY(1)
    max-height: 50px
    opacity: 1
