@import 'variables'
@import 'nib'
@import 'mixins'

pre
  border: 0
  border-radius: 0

.label, .badge
  display: inline-block
  padding: 3px 6px
  font-size: 12px

a.badge, a.label
  color: #fff
  &:hover
    color: color-success

.label.relationship
  border-radius: 2px

.muted
  opacity: 0.6

blockquote, blockquote p
  font-size: 17px; line-height: 24px; color: #777;

blockquote
  margin: 0 0 20px;
  padding: 9px 0px

ul
  list-style-type none
  margin: 0
  padding-left: 0

form
  margin: 0

p.lead
  font-size 16px
  margin-bottom 0em

.hero-unit
  padding 1em 60px
  margin-top 1em
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  p
    margin: 0
  > p.motd-bang
    a
      font-size: 17px
      &:before
        content: "\f071"
.box-max
  max-width:320px
