@import 'variables'
@import 'nib'
@import 'mixins'

.carousel-inner
  min-height: 170px

.carousel-control
  position: absolute;
  top: 30px;
  left: -45px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 25px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  border-radius: 23px;
  opacity: 0.5;

.carousel-control.right
  left: auto;
  right: -45px;

.carousel-indicators-wrapper
  position: absolute
  bottom: -20px
  left: 7px
  height: 12px
  z-index: 45

  .carousel-indicators
    bottom: 0
    opacity: 1
    position: relative
    z-index: 5
    margin: 0 auto
    list-style: none
    background: transparent
    left: initial
    height: 10px
    display: inline-block
    width: auto
    li
      cursor: pointer
      background-color: rgba(188, 195, 207, 0.64)
      &.active
        background-color: color-link
