@import 'variables'
@import 'nib'
@import 'mixins'

html, body
  margin 0
  padding 0
  -webkit-font-smoothing: antialiased

*
  word-wrap: break-word
  outline: none

body
  font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif
  background: #EEE
  color: #333
  stretch()
  overflow: hidden

a
  color: color-link
  cursor: pointer
  &:hover
    color: color-link-hover
    text-decoration: none


#incompatible
  background-color: #fff
  bottom: 0
  font-size: 20px
  left: 0
  padding-top: 100px
  position: absolute
  right: 0
  text-align: center
  top: 0
  z-index: 10000

svg
  display: block
  width: 100%
  overflow: hidden
  border-top: 1px solid #dfe5f0
  border-bottom: 1px solid #e7e9eb

[play-topic], [help-topic], a[target]
  &:before
    font-family: FontAwesome
    padding-right: 4px
  &.no-icon
    &:before
      padding-right: 0
      content: ''

[play-topic]
  &:before
    content: "\f144"

[help-topic]
  &:before
    content: "\f05a"

a[target]
  &:before
    content: "\f14c"

table.data
  width: 100%
  margin-bottom: 0
  thead tr th, tfoot tr th
    text-align: left
    height: middlebar-height
    font-weight: bold
    padding: 0 horizontal-padding
    line-height: middlebar-height
    border-bottom: 1px solid table-color-border-color
  tbody tr td, tr td, tfoot tr td
    border-bottom: 1px solid table-color-border-color
    vertical-align: top
    line-height: 26px
    padding: 0 horizontal-padding
  tbody tr
    background-color: #fff
    //&:hover
    // background-color: #F8F8F9

table.json-object
  background-color: #eee;
  border-radius: 5px;
  margin: 20px 10px;
  tbody
    tr
      background-color: transparent;
      &:first-child td, &:first-child th
        border-top: none;
      td, th
        border-bottom: none;
        color: #666;
        line-height: 26px;
        padding: 2px 10px;
        max-width: 320px;

.status-bar-wrapper
  height: 68px
  display: none
.status-bar
  height: middlebar-height
  line-height: middlebar-height
  color: rgb(120, 129, 133)
  font-size: 13px
  position: relative
  background-color: #FFF
  .status
    float: left
    padding-left: horizontal-padding
    [class*="fa-"]
      margin-right: 6px

  .popover.bottom
    line-height: 22px
    .arrow:after
      border-bottom-color: #f7f7f7
      border-top-width: 0
  .details
    margin-top: -4px
    margin-left: 12px
  .updated-code
    float:right
    margin-right horizontal-padding
  &.error
    color: color-error
  i[class*="fa-"]
    margin: 0
  .fa-ok
    color: color-success

.fullscreen-container
  position: absolute
  left: 0
  top: 0
  bottom: 0
  right: 0
  background-color: #fff
  z-index: 1030
  .code-bar
    background-color: #fff
    position: relative
    z-index: 2
    margin: 0
    .actions
      display: none
    a.close-fullscreen
      display: block
      absolute: top 9px right 16px
      color: #9B9DA2
      font-size: 20px
  a.fa-download
    color: #9B9DA2
    absolute: top 9px right 18px
    font-size: 22px
  .result
    background-color: #F8F9FB
  .status-bar
    .btn-group
      absolute: bottom 0 right 32px
  .view-result
    top: middlebar-height
    bottom: 0
    left: 0
    right: 0
    position: absolute
    overflow-y: scroll
    .view-result-graph
      display: table
      width: 100%
      height: 100%
      > *
        display: table-row
      svg
        bottom: 0
        height: 100%
        left: 0
        position: absolute
        right: 0
        top: 0
      .graph-contents
        position: relative
        height: 100%
  .legend
    max-height: none;

.key.code
  display: inline-block
  min-width: 24px
  padding: 5px 6px
  font-size: 14px
  line-height: 1
  color: #eee
  text-align: center
  // text-shadow: 0 1px 0 rgba(0,0,0,0.5)
  text-transform: capitalize
  background-color: #555
  border-radius: 3px
  font-weight: bold;
  font-size: 12px;
  font-family: "Courier New", Terminal, monospace
  font-family: mono-font-family
  // box-shadow: inset 0 -2px 0 #111
  .single
    width: 80px

//
// Bootstrap overrides
//////////////////////

.navbar-inverse .navbar-inner
  background: linear-gradient(top, #333, #181818)

.navbar-inner
  padding-left: horizontal-padding
  padding-right: horizontal-padding

.navbar .brand
  color: #fff
  font-weight: bold
  line-height: 18px
  padding-top: 8px
  padding-left: horizontal-padding
  margin-top: -2px

.navbar .nav .dropdown-toggle .caret
  margin-top: 27px

.navbar .nav > li > a
  padding-top: 0
  padding-bottom: 0
  line-height: topbar-height - 2px

.navbar .nav > li:last-child > a
  padding-right: 0

.fa-margin-right
  margin-right: 0.5em

.fa-margin-left
  margin-left: 0.5em

select
  margin-bottom: 0

.dl-horizontal
  dt
    width 120px
  dd
    margin-left 140px

.table-help
  tr
    vertical-align top

.table-help
  th
  td
    border 0

.table-help
  th
    text-align right
    margin 0
    padding-left 0

.table td.wrapped
  word-break break-all


/////
#error
  position: fixed
  top: 0
  height: 73px
  left: 80px
  right: 0
  background-color: color-error
  z-index: 100;
  display: none
  line-height: 73px
  color: #fff
  padding-left :24px
  font-size: 15px
  font-weight: bold
.connection-error
  #error
    display: block

#main
  position: absolute
  overflow: hidden
  top: 0
  bottom: 0
  left: nav-width
  right: 0
  z-index: 10
  background-color: #D2D5DA
  transist all

  .intro
    stretch()
    display: none
    text-align: center
    position: absolute
    text-align: center
    background: url(../images/intro.png) 50% 48% no-repeat

  footer
    bottom: 22px
    color: #A0AAB1
    font-size: 15px
    left: 0
    line-height: 23px
    padding: 0 24px
    position: absolute
    right: 0
    text-align: center

.update-button
  position:absolute
  bottom: 16px
  right: 16px

// UI states
.show-drawer
  #main
    left: (drawer-width + nav-width);

.alert-box.global
  margin-bottom: 0
  .close
    display: none


#editor
  &.file-loaded
    .view-editor
      top: 39px
  &.maximize-editor
    height: 100% !important
    .view-editor
      bottom: 0
    .message-bar
      position: absolute
    .CodeMirror
      position: absolute
      left: 0
      right: 0
      top: 0
      bottom: 0
    .CodeMirror-scroll
      max-height: initial

// TODO: implement this class as @extend .fa-pencil
.edit-in-place
  .edit-in-place-input
    border: none
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    border-radius: 3px
    padding: 2px 8px
    font-size: 13px
    width: 157px - 16px
    position: relative
    top: 1px
    font-weight: bold
    color: #000;
    line-height: 28px
  .edit-in-place-trigger
    &:before
      content: "\f040"
    [class*="fa-"]:before, [class*=" fa-"]:before
      text-decoration: inherit
      display: inline-block
      speak: none
    color: drawer-color-fg-icon
    &:hover
      color: drawer-color-fg-icon-hover
    display: none
    width: auto
    height: auto
    line-height: normal
    vertical-align: baseline
    margin-top: 0
    font-family: FontAwesome
    font-weight: normal
    font-style: normal
    text-decoration: inherit
    -webkit-font-smoothing: antialiased
    font-size: 16px

    cursor: pointer
    position: absolute
    right: 26px
    top: 11px
