size(w, h)
  width: w
  height: h

transist(property, duration=0.4s)
  transition: property duration
  transition-timing-function: cubic-bezier(0.694, 0.0482, 0.335, 1)

stretch()
  position absolute
  top 0
  left 0
  right 0
  bottom 0

circle(radius)
  width: radius
  height: radius
  border-radius: 50%
