@font-face
  font-family: 'NeoFont'
  src: url('../fonts/neo-font.eot')
  src: url('../fonts/neo-font.eot?#iefix') format('embedded-opentype'), url('../fonts/neo-font.woff') format('woff'), url('../fonts/neo-font.ttf') format('truetype'), url('../fonts/neo-font.svg') format('svg')
  font-weight: normal
  font-style: normal

.nf
  display: inline-block
  font: normal normal normal 14px/1 NeoFont
  font-size: inherit
  text-rendering: auto
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.nf-logo:before
  content: "\e000"

