/*@import 'variables'
@import 'nib'
@import 'mixins'

#stream
  padding-bottom: 60px
  padding-top: 24px
  position: relative
  overflow-y: auto

  .frame
    overflow: hidden

    .btn.btn-small
      background: #FFF

    &:hover
      .code-bar .actions
        opacity: 1

    .inner
      position: relative
      margin: 0 24px 24px 24px
      border: 1px solid #D2D7DD
      border-radius: 3px
      background-color: #fff

      .view-result
        position: relative
        height: auto
        background: #F8F9FB
        z-index: 10

        a[class^="icon-"]
          color: color-default-text
          &:hover
            color: color-link

        .view-result-graph
          background-color: #F8F9FB
          svg
            height: 400px
            width: 100%
          a.icon-table
            font-size: 24px
            absolute: bottom 57px right horizontal-padding

        .view-result-table
          border-top: 1px solid #fff
          position: relative
          overflow-y: auto
          max-height: 359px
          a.icon-download-alt
            absolute: top 8px right horizontal-padding*2+20
            font-size: 24px
            right: horizontal-padding

        .view-result-error
          pre
            font-family: mono-font-family
            font-size: 14px
            padding: 12px 16px
            margin: 0
            background: none
            border: none

.code-bar
  color: #848790
  border-bottom: 1px solid table-color-border-color
  height: middlebar-height
  line-height: middlebar-height
  padding-left: horizontal-padding
  padding: 0 25px
  //overflow: hidden

  .label
    text-shadow: 0 1px 1px rgba(0,0,0,0.15)
    font-size: 11px
  .label-cypher
    background-color: #8FDDC7
  .label-rest
    background-color: #81C0EB
  .label-help
    background-color: #D2A8E9

  .code
    text-shadow: 0 1px 0 rgba(255,255,255,0.7)
    font-family: mono-font-family
    font-size: 14px
    margin-left: 8px
    &:hover
      cursor: pointer
      border-bottom: 1px dotted #B6ADAD
      padding-bottom: 2px
  a.close-fullscreen
    display: none
  .actions
    opacity: 0
    transist: opacity 0.2s
    absolute: top 3px right 25px
    background-color: #e7e9eb
    a
      font-size: 20px
      margin-left: 13px
      vertical-align: center
      position: relative
      color: #9B9DA2
      &:hover
        color: #3F434B
      &.icon-download-alt
        top: 2px
      &.icon-edit
        top: 1px
      &.icon-fullscreen
        font-size: 19px
        margin-left: 16px
      &.icon-trash
        font-size: 21px
      &.icon-remove
        top: 1px
        font-size: 26px
    .btn
      margin-left: 4px
*/
