@import 'variables'
@import 'nib'
@import 'mixins'

#stream
  padding-top: 24px
  position: absolute
  left: 0
  right: 0
  top: 0
  bottom: 0
  overflow-y: auto
  transition: all 0.25s

  .frame
    overflow: hidden

    .btn.btn-small
      background: #FFF

    &:hover
      .code-bar .actions
        opacity: 1

    .row.header
      padding-top: 24px

    .outer
      margin: 0 24px 24px 24px;
      box-shadow: 0 1px 6px rgba(0,0,0,0.12);
    .inner
      position: relative
      border-radius: 3px
      background-color: #fff

      .view-result
        position: relative
        height: auto
        minimum-height: middlebar-height
        background: #F8F9FB
        z-index: 10

        //a[class*="fa-"]
        //  color: color-default-text
        //  &:hover
        //    color: color-link

        .view-result-graph
          background-color: #F9FBFD
          display: table
          width: 100%
          height: 100%
          > *
            display: table-row
          svg
            height: 400px
            width: 100%
          a.fa-table
            font-size: 24px
            absolute: bottom 57px right horizontal-padding

          .graph-contents
            position: relative
            overflow: hidden
            height: 100%

        .view-result-table
          border-top: 1px solid #fff
          position: relative
          overflow-y: auto
          max-height: 496px
          a.fa-download
            absolute: top 8px right horizontal-padding*2+20
            font-size: 24px
            right: horizontal-padding

        .view-result-error
          pre
            font-family: mono-font-family
            font-size: 14px
            padding: 12px 16px
            margin: 0
            background: none
            border: none

        .view-result-loading
          .spinner
            height: 40px
            position: relative;
            top: 50%;
            padding-top: 4px
            padding-bottom: 4px
            margin-left: auto
            margin-right: auto
            text-align: center
    footer
      position: relative
      padding: 0
      p
        margin: 0

.code-bar
  background: #fff
  color: stream-font-color
  height: middlebar-height
  line-height: middlebar-height
  padding-left: 10px
  position: relative
  border-bottom: 1px solid #e6e9ef

  .actions
    li
      float: left
      padding: 0
  .dropdown-menu
    min-width: initial
  .label
    font-size: 11px
    border-radius: 0px
    padding: 4px 7px
    border: 2px solid
    background: none
    color: #525864
    border-color: #525864
  .label-cypher
    color: #8FDDC7
    border-color: #8FDDC7
  .label-rest
    background-color: #81C0EB
  .label-help
    color: #D2A8E9
    border-color: #D2A8E9

  .mono
    font-family: mono-font-family
    font-size: 12px
    color: #525864
  .prompt
    margin-left: 1px
    margin-right: 5px
    opacity: 0.5
    font-weight: bold
  .code
    margin-left: 3px
    &:hover
      cursor: pointer
      border-bottom: 1px dotted #B6ADAD
      padding-bottom: 2px
  a.close-fullscreen
    display: none

  .status
    display: block
    max-height: 33px
    overflow: hidden
    max-width: 400px
    text-overflow: ellipsis
    white-space: nowrap

  .toggle
    ball-size = 16px

    float: left
    font-weight: bold
    font-size: 11px
    text-transform: uppercase
    border-left: 1px solid #e6e9ef
    a
      color: #9b9da2
      line-height: 36px
      position: relative
      top: -1px
      transition: color 0.25s;
      &:hover
        color: #40454f
      &.toggle-graph
        padding: 12px 0 12px 16px
      &.toggle-table
        padding: 12px 16px 12px 0px

    .switch {
      position: relative
      top: 3px
      display: inline-block
      margin-left: 3px
      margin-right: 5px

      height: ball-size;
      width: 26px;
      user-select: none;
      label.right {
        border-color: #D2D5DA;
        .switch-inner {
          margin-left: 0;
        }
        .handle {
          right: 0px;
          border-color: #D2D5DA;
        }
      }

      label {
        margin-bottom: 0;
        display: block;
        overflow: hidden;
        cursor: pointer;
        border: 2px solid #CED3D8;
        border-radius: 50px;
        height: ball-size;
        transition: border-color 0.25s;
      }
      .switch-inner {
        width: 200%;
        margin-left: -100%;
        transition: all 0.3s ease-in 0s;
        &:before, &:after {
          content: "";
          float: left;
          width: 50%;
          height: ball-size;
        }
        &:before {
          padding-left: 10px;
          background-color: #D2D5DA
        }
        &:after {
          background-color: #D2D5DA;
        }
      }
      .handle {
        width: ball-size;
        margin: 0;
        background: #FFFFFF;
        border: 2px solid #CED3D8;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        transition: all 0.3s ease-in 0s;
      }
    }

.actions
  float: right
  opacity: 1.0
  .button
    transist: all 0.2s
    float: left
    border-left: 1px solid #E6E9EF
    padding-top: 11px
    height: 39px
    font-size: 16px
    vertical-align: center
    position: relative
    color: #9B9DA2
    width: 41px
    text-align: center
    &:hover
      background: #40454f
      color: #fff
    &.active, &.active:hover {
      color: #30333a
      cursor: default
      position: relative
      top: -1px
      background: #F9FBFD
      &.fa-table {
        background: #fff;
      }
    }
    &.fa-download
      padding-top: 12px
    &.fa-fullscreen
      padding-top: 12px
      font-size: 15px
  .btn
    margin-left: 4px
