@import 'variables'
@import 'nib'
@import 'mixins'

.system
  .stretch
    position: absolute
    top: 0
    bottom: 0
    overflow-y: auto
  .left-fixed
    left: 0
    width: 246px
  .right-fixed
    background-color: #fff
    right: 0
    left: 246px
    th
      width: 246px
    td
      white-space: pre-line
