.token
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  user-select: none
  font-size: 12px
  margin-right: 5px
  cursor: pointer
  &.token-label
    padding: 4px 7px 4px 9px
    border-radius: 20px
  &.token-relationship-type
    padding: 4px 7px 4px 5px
    border-radius: 3px
  &.token-property-key
    padding: 3px 5px 3px 5px
