color-success = #70E9B1
color-error = #E74C3C
color-link = #3498DB
color-link-hover = #5dade2
color-default-text = #788185
color-star = #FDCC59
color-info = #5dade2
drawer-color-bg = #30333A
drawer-color-bg-active = lighten(drawer-color-bg, 4%)
drawer-color-border = lighten(drawer-color-bg, 10%)
drawer-color-fg = #BCC0C9
drawer-color-fg-muted = #728187
drawer-color-fg-active = #fff
drawer-color-fg-icon = lighten(drawer-color-bg, 30%)
drawer-color-fg-icon-hover = #fff
drawer-color-section-bg = darken(drawer-color-bg, 12%)
drawer-color-section-icon = #9AA7AC
drawer-color-section-icon-hover = #fff
table-color-border-color = #EBECEC
mono-font-family = Menlo, "Courier New", Terminal, monospace

horizontal-padding = 16px
drawer-width = 300px
editor-height = 140px
topbar-height = 57px
toolbar-height = 41px
middlebar-height = 39px
nav-width = 80px

$primary-color = #1abc9c
$alert-color = #E13329
$topbar-bg = #222
$body-font-color = #34495e
$table-head-bg = #F5F5F5
$table-head-font-color = #2E383C
$table-head-padding = 0 horizontal-padding
$table-head-font-weight = bold
$table-head-font-size = 13px
$table-row-padding = 0 horizontal-padding
$table-row-font-color = #748287
$table-row-font-size = 13px
$table-even-row-bg = #F7f8f8
$topbar-title-font-size = 20px
$topbar-title-weight = normal
$topbar-height = topbar-height
$topbar-link-font-size = 15px
$topbar-link-hover-lightness = 0
$topbar-dropdown-bg = $primary-color
