color-success = #70E9B1
color-error = #E74C3C
color-warning = #ebf094
color-link = #428BCA
color-link-hover = #5dade2
color-default-text = #788185
color-star = #FDCC59
// color-info = #5dade2
color-info = #439fd3
color-notice = #0e78b4
color-yes = #55a534
color-no = #a1cddb

navbar-color-bg = #525864
navbar-color-fg = #D8DDE2

frame-left-menu-width = 60px
frame-left-menu-hanging-lid-width = 15px
frame-min-height = 190px

drawer-color-bg = #30333A
drawer-color-bg-active = lighten(drawer-color-bg, 4%)
drawer-color-border = lighten(drawer-color-bg, 10%)
drawer-color-fg = #BCC0C9
drawer-color-fg-muted = #728187
drawer-color-fg-active = #fff
drawer-color-fg-icon = lighten(drawer-color-bg, 30%)
drawer-color-fg-icon-hover = #fff
drawer-color-section-bg = darken(drawer-color-bg, 12%)
drawer-color-section-icon = #9AA7AC
drawer-color-section-icon-hover = #fff

inspector-bg-color = navbar-color-bg
inspector-header-color = darken(navbar-color-bg, 20%)
inspector-font-color = lighten(navbar-color-fg, 20%)
inspector-tab-bg-color = navbar-color-bg
inspector-tab-font-color = darken(navbar-color-fg, 20%)
inspector-tab-font-active-color = #fff
inspector-divider-color = lighten(inspector-bg-color, 10%)
inspector-footer-row-margin = 3px

styler-bg-color = drawer-color-bg
styler-divider-color = drawer-color-border
styler-font-color = #bcc0c9

stream-font-color = #848790
table-color-border-color = #EBECEC

mono-font-family = Monaco, "Courier New", Terminal, monospace

horizontal-padding = 16px
drawer-width = 300px
editor-height = 140px
topbar-height = 57px
toolbar-height = 41px
middlebar-height = 39px
nav-width = 80px
banner-height = 73px

frame-result-height = 503px
svg-start-height = 464px
legend-row-height = 32px

$primary-color = #1abc9c
$alert-color = #E13329
$topbar-bg = #222
$body-font-color = #34495e
$table-head-bg = #F5F5F5
$table-head-font-color = #2E383C
$table-head-padding = 0 horizontal-padding
$table-head-font-weight = bold
$table-head-font-size = 13px
$table-row-padding = 0 horizontal-padding
$table-row-font-color = #748287
$table-row-font-size = 13px
$table-even-row-bg = #F7f8f8
$topbar-title-font-size = 20px
$topbar-title-weight = normal
$topbar-height = topbar-height
$topbar-link-font-size = 15px
$topbar-link-hover-lightness = 0
$topbar-dropdown-bg = $primary-color
