@import 'nib'
@import 'variables'

.graph-viz {
  float: left;
  width: 500px;
}

path.link {
  fill: none;
  stroke: #7F8C8D;
  stroke-width: 2px;
}

text {
  font-family: sans-serif;
  pointer-events: none;
}

marker
  fill: #D8DADC

text
  .faded
    fill: #333

.outline, .overlay
  cursor: pointer
