%table
  %tr
    %td
      Label pattern:
      %input.labelText(type="text")
      
    %td
      Label color:
      %input.labelColor(type="text")
      
    %td
      Label font:
      %input.labelFont(type="text")
      
  %tr
    %td
      Background:
      %input.fillColor(type="text")
    %td
      Border color:
      %input.strokeColor(type="text")
