
body { width:100%; height:100%; color: #333; background:#f7f7f7; padding:0;margin:0; font-family:arial, sans-serif; }

p { margin: 0.7em 0; font-size:0.9em; }

h1 { font-size:1.2em; }
h2 { font-size:1.1em; }
h3 { font-size:1.0em; }
h4 { font-size:0.9em; }
h5 { font-size:0.8em; }
h6 { font-size:0.7em; }

/* HEADER */

#header { width:100%; height:50px; background:url(../img/header_bg.png) repeat-x;  }
#logo { float:left; margin: 4px 30px 0 30px; }

  #mainmenu { margin:0; list-style:none; padding: 24px 0 0 0; height:20px; }
  #mainmenu li a { 
    display:block; 
    background:#7a9ea9 url(../img/tab_shade.png) bottom repeat-x; 
    height:22px; 
    float:left; 
    margin:0 4px; 
    padding: 4px 8px 0;  
    -moz-border-radius-topright: 3px; 
    -webkit-border-top-right-radius: 3px; 
    -moz-border-radius-topleft: 3px; 
    -webkit-border-top-left-radius: 3px; 
    color:#353535; 
    text-decoration:none; }
  #mainmenu li a:hover { background:#F7F7F7 url(../img/tab_shade.png) bottom repeat-x; }
  #mainmenu li a.current { background:#F7F7F7; }

  #header_submenu {
	  float:right;
	  padding: 0 30px 0 0;	
  }

  #header_submenu a {
	  color: #ddd;
	  font-size:12px;
	  text-decoration:none;	
  }

  #header_submenu a:hover {
	  text-decoration:underline;	
  }

/* FOOTER */

#footer {
	clear:both;
	padding: 30px;
}
.copyright {
	font-size:10px !important;
	text-align:center;
	padding: 0.7em 0 0.3em;
	margin: 0;
}
