
@import url(modules.css);

body { width:100%; height:100%; color: #333; background:#f7f7f7; padding:0;margin:0; font-family:arial, sans-serif; }

p { margin: 0.7em 0; font-size:0.9em; }

h1 { font-size:1.2em; }
h2 { font-size:1.1em; }
h3 { font-size:1.0em; }
h4 { font-size:0.9em; }
h5 { font-size:0.8em; }
h6 { font-size:0.7em; }

/* CONTENTS */

#contents { padding: 10px 5px; }

/* HEADER */

#header { width:100%; height:50px; background:url(../img/header_bg.png) repeat-x;  }
#logo { float:left; margin: 4px 30px 0 30px; }

  #mainmenu { margin:0; list-style:none; padding: 24px 0 0 0; height:20px; }
  #mainmenu li a { 
    display:block; 
    background:#7a9ea9 url(../img/tab_shade.png) bottom repeat-x; 
    height:22px; 
    float:left; 
    margin:0 4px; 
    padding: 4px 8px 0;  
    -moz-border-radius-topright: 3px; 
    -webkit-border-top-right-radius: 3px; 
    -moz-border-radius-topleft: 3px; 
    -webkit-border-top-left-radius: 3px; 
    color:#353535; 
    text-decoration:none; }
  #mainmenu li a:hover { background:#F7F7F7 url(../img/tab_shade.png) bottom repeat-x; }
  #mainmenu li a.current { background:#F7F7F7; }

  #header_submenu {
	  float:right;
	  padding: 0 30px 0 0;	
  }

  #header_submenu a {
	  color: #ddd;
	  font-size:12px;
	  text-decoration:none;	
  }

  #header_submenu a:hover {
	  text-decoration:underline;	
  }

/* FOOTER */

#footer {
	clear:both;
	padding: 30px;
}
.copyright {
	font-size:10px !important;
	text-align:center;
	padding: 0.7em 0 0.3em;
	margin: 0;
}

/* FOLDOUT CONTENT */

.foldout { border-top:1px solid #eee; }
.foldout > h2 { margin: 0; padding:0; width:100%; }
.foldout > h2 a { text-decoration:none; margin: 0; width:auto; display:block; padding: 3px 5px 2px 10px; color: #444; font-size: 10px; background: #E0F0F5; line-height: 16px; font-weight: bold; border-top:1px solid #d4d4d4;}
.foldout > h2 a:hover { background:#c0e0e5; }
.foldout_content { display:none; border-top:1px solid #e4e4e4; }
.foldout_content.visible { display:block; }

/* INFO LIST */
.info_list { font-size:70%; list-style:none; margin:0; padding: 5px 10px; }
.info_list li { }
.info_list li h3 { margin: 0; padding: 4px 0 0 0; }
.info_list li p { margin: 0; padding: 2px 0; }

/**
 * UTILS
 */

.break { clear:both; }
.right { float:right; }
.left { float:left; }

.small { font-size:12px; }

.span-1  { width: 6.958%; float:left;  margin-right:1.5%; }
.span-2  { width: 15.416%; float:left; margin-right:1.5%; }
.span-3  { width: 23.875%; float:left; margin-right:1.5%; }
.span-4  { width: 32.333%; float:left; margin-right:1.5%; }
.span-5  { width: 40.791%; float:left; margin-right:1.5%; }
.span-6  { width: 49.250%; float:left; margin-right:1.5%; }
.span-7  { width: 57.708%; float:left; margin-right:1.5%; }
.span-8  { width: 66.166%; float:left; margin-right:1.5%; }
.span-9  { width: 74.625%; float:left; margin-right:1.5%; }
.span-10 { width: 83.083%; float:left; margin-right:1.5%; }
.span-11 { width: 91.541%; float:left; margin-right:1.5%; }
.span-12 { width: 100%; float:left; margin-right:0%; }

.span-third { width: 32%; float:left; margin-right:2%; }
.span-half { width: 49%; float:left; margin-right:2%; }
.span-all { width: 100%; float:left; clear:right; }

.last { clear:right; margin-right:0; }
