/* @override 
	http://localhost:7474/webadmin/css/typography.css */

html { font-size: 100%; }
p { 
  margin: 0.5em 0; 
  font-size:12px; 
}

a:active {
  outline: none;
}
button::-moz-focus-inner { border: 0; }

.small { font-size:12px; }

h1 { font-size:0.9em; }
lh, h2 {   
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  margin: 4px 0;
}
h3 { font-size:0.8em; }
h4 { font-size:0.8em; }
h5 { font-size:0.6em; }
h6 { font-size:0.6em; }
