div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        article.guide
          ul.undecorated
            li(ng-repeat="history_command in frame.response track by $index") 
              pre.code.oneline(click-to-code="history_command", dblclick-to-exec="true")
                | {{history_command}}
