div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result.view-keys
        h4 Keyboard shortcuts
        ul
          li
            .left-col
              .key.code Ctrl-Enter
            .right-col
              | Execute current query
          li
            .left-col
              .key.code Ctrl-Up
            .right-col
              | Next command in history
          li
            .left-col
              .key.code Ctrl-Down
            .right-col
              | Previous command in history
