div(fullscreen)
  include partials/frame-common-actions
  .inner
    .view-result.account(ng-show='!frame.hasErrors')
      span(ng-show='frame.isLoading') Initated logout...
      span(ng-show='!frame.isLoading') Logged out

    .status-bar.error(ng-show='frame.hasErrors')
      div
        span
          .icon-warning-sign
          {{frame.errorText}}
