div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result.help(ng-hide='frame.hasErrors')
        .play(play-src)
      .view-result-error.help(ng-show='frame.hasErrors')
        pre No such topic to play.
      .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}', ng-show="frame.errorText.length")
        .status(ng-hide='frame.isLoading')
          span(ng-show='frame.hasErrors')
            .fa.fa-exclamation-triangle.icon-warning-sign &nbsp;
          | {{ frame.detailedErrorText }}
