div(ng-controller="AuthCtrl")
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        article.guide
          div
            .row
              .span4
                h3
                  | Connection status
                p.lead
                  | This is your current server connection information.
              .span1
              .span7(ng-hide="!frame.response.user")
                p
                ul.big.undecorated
                  li
                    span.center-tbl-left-col 
                      | Current user: 
                    code
                      | {{frame.response.user}}
                  li
                    span.center-tbl-left-col
                      | Authorization token: 
                    code
                      | {{frame.response.authorization_token}}
              .span5.error(ng-show="!frame.response.user && !auth_service.isAuthenticated()")
                p You are not connected to the server.
              .span5(ng-show="!frame.response.user && auth_service.isAuthenticated()")
                p You have a working connection with the Neo4j database and server authentication is disabled.
      .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}')
        div(ng-show="errorText")
          .icon-warning-sign
          {{errorText}}
