div(ng-controller="AuthCtrl")
  .outer
    include partials/frame-common-actions
    .inner
      .view-result(ng-hide="password_change_required")
        article.guide
          div
            .row(ng-show="!static_is_authenticated")
              .span4
                h3 Connect to Neo4j
                p.lead
                  | Data access requires an authenticated connection to the database.
              .span1
              .span5(ng-hide="static_is_authenticated")
                .form
                  p
                    | Username
                    br
                    input(type='text', on-enter="focus", on-enter-target-id="connect_password", focus-on="1", ng-model="username", style="margin: 0")
                  p
                    | Password
                    br
                    input(id="connect_password", on-enter="click", on-enter-target-id="connect_button", type='password', ng-model="password", style="margin: 0")
                  p.form-info
                    | Default username/password: 
                    b neo4j
                    /
                    b neo4j
                  p
                    button.btn(id="connect_button", ng-click="authenticate()", style="margin: 0") Connect
            .row(ng-if="static_is_authenticated && !password_change_required && !static_user")
              .span4
                h3 Connection to Neo4j
                p.lead
                  | Connected.
              .span1
              .span6
                p Connected to the Neo4j database (no authentication required).
            .row(ng-show="static_is_authenticated && !password_change_required && static_user")
              .span4
                h3 Connected to Neo4j
                p.lead
                  | Nice to meet you.
              .span1
              .span7
                p
                ul.big.undecorated
                  li
                    span.center-tbl-left-col 
                      | Current user: 
                    code
                      | {{static_user.username}}
                  li
                    span.center-tbl-left-col
                      | Authorization token: 
                    code
                      | {{static_user.authorization_token}}
      .view-result.fade(ng-show="password_change_required")
        include partials/frame-change-password
      .status-bar(ng-class='{error: error_text, loading: frame.isLoading}')
        div(ng-show="error_text")
          .icon-warning-sign
          {{error_text}}
