div(ng-controller="AuthCtrl")
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        article.help
          .container-fluid
            .section.row-fluid.summary
              .summary.col-sm-3
                h3
                  | Connection status
                p.lead
                  | This is your current server connection information.
              .details.col-sm-9(ng-show="connection_summary.user")
                p
                ul.big.undecorated
                  li
                    span.center-tbl-left-col.inline
                      | You are connected as user:&nbsp;
                    code
                      | {{connection_summary.user}}
                  li
                    p.lead {{policy_message}}
              .details.col-sm-9(ng-show="!connection_summary.is_connected")
                p You are not connected to the server.
              .details.col-sm-9(ng-show="!connection_summary.authorization_required")
                p You have a working connection with the Neo4j database and server auth is disabled.
      .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}')
        .status(ng-show="frame.detailedErrorText")
          .fa.fa-exclamation-triangle.icon-warning-sign &nbsp;
          {{frame.detailedErrorText}}
