div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result.help(ng-hide='frame.hasErrors', ng-include = 'frame.response.page')

      .status-bar.error(ng-show='frame.hasErrors')
        div
          span
            .fa.fa-warning-sign
            {{frame.errorText}}
