div
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        include partials/frame-change-password
      .status-bar(ng-class='{error: error_text, loading: frame.isLoading}')
        div(ng-show="error_text")
          .icon-warning-sign
          {{error_text}}
