div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        pre(output-raw = "frame.response", ng-hide="frame.hasErrors")
        .view-result-error.result(ng-show='frame.hasErrors')
          pre(ng-bind="frame.detailedErrorText")
      .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}')
        .status(ng-hide='frame.isLoading')
          span(ng-show='frame.hasErrors')
            .fa.fa-exclamation-triangle.icon-warning-sign &nbsp;
            {{frame.errorText}}
          div(ng-hide='frame.hasErrors')
            div(ng-show='frame.response')
              .fa.fa-ok
              span(ng-show='frame.hasErrors')
                | Execution error
        span(ng-show='frame.isLoading')
          .fa.fa-spinner.fa-spin
          | Executing query...
