div(ng-controller="DisconnectCtrl")
  .outer
    include partials/frame-common-actions
    .inner
      .view-result(ng-hide="password_change_required")
        article.guide
          div
            .row(ng-if="!auth_service.isAuthenticated() && !auth_service.current_user")
              .span4
                h3 Disconnected
                p.lead
                  | You are  disconnected from the server.
            .row(ng-if="auth_service.isAuthenticated() && !auth_service.current_user")
              .span4
                h3 Disconnect
                p.lead No disconnect available.
              .span1
              .span5
                p Since server authentication is disabled you can't disconnect the Neo4j Browser.
            .row(ng-if="auth_service.isAuthenticated() && auth_service.current_user")
              .span4
                h3 Disconnection
                p.lead
                  | You are not disconnected from the server. Try again.
      .status-bar(ng-class='{error: error_text, loading: frame.isLoading}')
        div(ng-show="error_text")
          .icon-warning-sign
          {{error_text}}
