div(ng-controller="DisconnectCtrl")
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        article.help
          .container-fluid
            .section.row-fluid.summary(ng-show="!static_is_authenticated && !static_user")
              .summary.col-sm-3
                h3 Disconnected
                p.lead
                  | You are  disconnected from the server.
            .section.row-fluid.summary(ng-show="static_is_authenticated && !static_user")
              .summary.col-sm-3
                h3 Disconnect
                p.lead No disconnect available.
              .details.col-sm-9
                p Server auth is disabled, you can't disconnect.
            .section.row-fluid.summary(ng-show="static_is_authenticated && static_user")
              .summary.col-sm-3
                h3 Disconnection
                p.lead
                  | You are not disconnected from the server. Try again.
      .status-bar(ng-class='{error: error_text, loading: frame.isLoading}')
        .status(ng-show="error_text")
          .fa.fa-exclamation-triangle.icon-warning-sign &nbsp;
          {{error_text}}
