div(fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result.help(ng-hide='frame.hasErrors')
        pre(output-raw = "frame.response")


      .status-bar.error(ng-show='frame.hasErrors')
        div
          span
            .fa.fa-warning-sign
            {{frame.errorText}}
