div(ng-controller="ChangePasswordCtrl", fullscreen)
  .outer
    include partials/frame-common-actions
    .inner
      .view-result
        article.guide
          .container
            .row(ng-hide="password_changed")
              .span6
                h3 Welcome to Neo4j!
                p Before we start, please choose a new password to keep your data safe.
                br
                
              .span6
                .form
                  p(ng-show='need_current_password')
                    | Current Password
                    br
                    input(type='password', ng-model="current_password", style="margin: 0")
                    span.error(ng-show="current_empty_error")
                      br
                      | You have to enter old password.
                  p
                    | New Password
                    br
                    input(type='password', ng-model="new_password", style="margin: 0")
                    span.error(ng-show="empty_error")
                      br
                      | You have to enter a new password.
                    br
                    | New Password Again
                    br
                    input(type='password', ng-model="new_password2", style="margin: 0")
                    span.error(ng-show="mismatch_error")
                      br
                      | The new password fields value do not match.
                  p
                    button.btn(ng-click="setNewPassword()", style="margin: 0") Set  password
            
            .row(ng-show="password_changed")
              .span6
                h3 Password changed!
                p Your new password is now in effect.
                br
                

      .status-bar(ng-class='{error: frame.hasErrors, loading: frame.isLoading}')
        div
          div
            div
              .fa.fa-ok
