#noticebar(ng-controller = "NotificationCtrl", ng-show="hasNotifications()")
  include partials/notifications

#leftbar(ng-controller = "SidebarCtrl")
  include partials/nav
  include partials/drawer
#main
  include partials/editor
  div(frame-stream)
  //- include partials/stream
#diagnostics(ng-show='showVizDiagnostics')
  include partials/visualization-diagnostics

#error {{errorMessage}}
