#header {
  position: fixed;
  width: 100%;
  height: 99px;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  border-bottom: 1px solid #bbbbbb;
  z-index: 2000;
  overflow: visible;
  overflow-x: visible;
}

body.console-is-expanded #header {
  display: none;
}

#header h1 {
  margin: 8px 20% 0 8px;
  position: fixed;
  top: 0;
  left: 0;
}

#logo {
  position: fixed;
  right: 0;
  top: 0;
  padding: 6px 10px 5px 10px;
  max-width: 20%;
}

#logo img {
  width: 130px;
  max-width: 100%;
}

#sidebar-wrapper {
  position: fixed;
  top: 100px;
  left: 0;
  width: 280px;
  bottom: 0;
  overflow: auto;
}

body.toc-is-hidden #sidebar-wrapper,body.console-is-expanded #sidebar-wrapper {
  display: none;
}

#leftnavigation {
  overflow: auto;
  height: auto;
  top: 100px;
  bottom: 0;
  left: 0;
  width: inherit;
  padding: 1px;
}

#treeDiv {
  overflow: auto;
  height: auto;
  top: 136px;
  bottom: 0;
  left: 0;
}

#content {
  position: fixed;
  top: 100px;
  left: 280px;
  right: 0;
  bottom: 0;
  width: auto;
  height: inherit;
  padding: 0 30px 5px 15px;
  border-left: 1px solid #cccccc;
  overflow: scroll;
  overflow-x: hidden;
}

body.toc-is-hidden #content,body.console-is-expanded #content {
  left: 0;
}

body.console-is-expanded #content {
  position: absolute;
}

#navheader {
  position: fixed;
  background: none;
  left: 2px;
  right: 0px;
  top: 75px;
  padding-left: 10px;
}

footer p {
  text-align: right;
  margin-top: 1em;
}

footer img {
  vertical-align: text-bottom;
}

#copyright-img {
  height: 20px;
}

#neotech-logo {
  height: 40px;
}

.highlight {
  background-color: #ffe48b;
}

.highlight.unhighlight {
  background-color: inherit;
}

.highlightButton {
  font-size: 0;
}

/*  Show Hide TOC tree */
.pointLeft {
  padding-right: 15px;
  cursor: pointer;
}

.pointRight {
  padding-right: 15px;
  cursor: pointer;
}

/* Search results Styling */
.searchExpression {
  color: #0050A0;
  background-color: #EBEFF8;
  font-size: 12pt;
}

.searchresult li a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}

.searchresult li {
  color: #0050A0;
}

.shortdesclink {
  color: gray;
  font-size: 9pt;
}

.searchText {
  float: left;
  width: 150px;
}

.searchButton {
  padding: 2px 12px 2px 12px;
  background-color: #bbb;
  border: #bbb solid 1pt;
  font-weight: bold;
  font-size: 10pt
}

.searchButton:hover {
  background-color: #cccccc;
}

.searchFieldSet {
  
}

.title,div.toc>p {
  font-weight: bold;
}

#star ul.star {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 85px;
  height: 20px;
  left: 1px;
  top: -5px;
  position: relative;
  float: right;
  background: url('../images/starsSmall.png') repeat-x 0 -25px;
}

#star li {
  padding: 0;
  margin: 0;
  float: right;
  display: block;
  width: 85px;
  height: 20px;
  text-decoration: none;
  text-indent: -9000px;
  Z-INDEX: 20;
  position: absolute;
  padding: 0;
}

#star li.curr {
  background: url('../images/starsSmall.png') left 25px;
  font-size: 1px;
}

#navLinks {
  margin-right: 20px;
  background: none;
}

#navLinks span {
  padding-right: 16px;
}

#navLinks a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
}

.filetree li span a {
  color: #777;
}

#treediv {
  -webkit-box-shadow: #CCC 0px 1px 2px 0px inset;
}

.legal,.legal * {
  color: #555;
  text-align: center;
  padding-bottom: 10px;
}

.internal {
  color: #0000CC;
}

.writeronly {
  color: red;
}

.remark,.remark .added,.remark .changed,.remark .deleted {
  background: yellow;
}

/*
tr th, tr th .internal, tr th .added, tr th .changed {
	background: #00589E;
	color: white;
	font-weight: bold;
	text-align: left;
}
*/
.statustext {
  position: fixed;
  top: 105px;
  width: 0%;
  height: 0%;
  opacity: .3;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  white-space: nowrap;
  color: red;
  font-weight: bold;
  font-size: 2em;
  margin-top: 30px;
}

#toolbar {
  width: 100%;
  height: 33px;
  position: fixed;
  top: 93px;
  z-index: 99;
  left: 280px;
  color: #333;
  line-height: 28px;
  padding-left: 10px;
}

#toolbar-left {
  position: relative;
  left: 0px;
}

body.sidebar #toolbar {
  left: 0px;
}

body.sidebar #toolbar-left {
  left: 0px;
}

div#toolbar-left img {
  vertical-align: text-top;
}

div.note *,div.caution *,div.important *,div.tip *,div.warning * {
  background: inherit !important;
  color: inherit !important;
  border: inherit !important;
}

/*
#content table thead, #content table th{
    background: gray;
    color: white;
    font-weight: bold;
}

#content table caption{font-weight: bold;}

#content table td, #content table {border: 1px solid black;}

#content table td, #content table th { padding: 5px;}

#content table {margin-bottom: 20px;}
*/
*[align='center'] {
  text-align: center;
}

#content .qandaset>table,#content .qandaset>table td,#content .calloutlist table,#content .calloutlist table td,#content .navfooter table,#content .navfooter table td
  {
  border: 0px none;
}

#sidebar {
  display: none
}

@media print {
  body * {
    visibility: hidden;
  }
  #content,#content * {
    visibility: visible;
  }
  #content {
    position: static;
    width: auto;
    padding: 0 30px 5px 15px;
    margin: 0 0 0 0;
    border-left: 0 none;
    overflow: visible;
    overflow-x: visible;
  }  
  #sidebar-wrapper,.navfooter, #discuss, div.query-outer-wrapper div.btn-group, body #header a {
    display: none !important;
    width: 0 !important;
  }
  body #header {
    position: static;
    height: auto;
  }
  body #header h1 {
    position: static;
    color: #000000 !important;
    visibility: visible;
    margin: 0, 0, 0, 15px;
  }
  div.figure, div.informalfigure {
    page-break-inside: avoid;
  }
  footer p {
    text-align: left;
  }
  footer p a {
    padding-right: 1em;
  }
}

@media screen and (max-width: 740px) {
  #additional-versions, body #header h1 #book-title {
    display: none;
  }
  
  body #header h1 span {
    font-size: 18px;
  }
}
