input {
  margin-bottom: 5px;
  margin-top: 2px;
}

#tree li {
  line-height: 1.0;
  padding: 3px 0 2px 16px;
}

#tree span {
  display: table-cell;
  padding-left: 0px;
  background: none;
}

#tree i {
  padding-right: 4px;
  display: table-cell;
  color: #222222;
}

#tree li>span>a {
  text-decoration: none;
  font-size: 13px;
  color: #000000;
}

span.contentsTab {
  padding-left: 20px;
}

span.searchTab {
  padding-left: 20px;
}

/* Overide jquery treeview's defaults for ul. */
.treeview ul {
  background-color: transparent;
  margin-top: 4px;
}

.webhelp-currentid {
  background-color: #D8D8D8 !important;
}

/* Override jquery-ui's default css customizations. These are supposed to take precedence over those.*/
.ui-widget-content {
  border: 0px;
  background: none;
  color: none;
}

.ui-widget-header {
  color: #e9e8e9;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #bbc4c5;
  border-top: 4px solid #e5e5e5;
  border: medium none;
  background: #F4F4F4; /* old browsers */
  background: -moz-linear-gradient(top, #F4F4F4 0%, #E6E4E5 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F4F4F4),
    color-stop(100%, #E6E4E5)); /* webkit */
  font-weight: none;
}

.ui-widget-header a {
  color: none;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default {
  border: none;
  background: none;
  font-weight: none;
  color: none;
}

.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {
  color: black;
  text-decoration: none;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
  {
  border: none;
  background: none;
  font-weight: none;
  color: none;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active {
  border: none;
  background: none;
  font-weight: none;
  color: none;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
  color: black;
  text-decoration: none;
  background: #C6C6C6; /* old browsers */
  background: -moz-linear-gradient(top, #C6C6C6 0%, #D8D8D8 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C6C6C6),
    color-stop(100%, #D8D8D8)); /* webkit */
  -webkit-border-radius: 15px;
  -moz-border-radius: 10px;
  border: 1px solid #f1f1f1;
}

.ui-corner-all {
  border-radius: 0 0 0 0;
}

.ui-tabs {
  padding: .2em;
}

.ui-tabs .ui-tabs-nav li {
  top: 0px;
  margin: -2px 0 1px;
  text-transform: uppercase;
  font-size: 10.5px;
}

.ui-tabs .ui-tabs-nav li a {
  padding: .25em 1em .25em 1em;
  margin: .5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
}
/**
	 *	Basic Layout Theme
	 * 
	 *	This theme uses the default layout class-names for all classes
	 *	Add any 'custom class-names', from options: paneClass, resizerClass, togglerClass
	 */
.ui-layout-pane { /* all 'panes' */
  background: #FFF;
  border: none; /*1px solid #BBB;*/
  /*padding: 05x;*/
  overflow: auto;
}

.ui-layout-resizer { /* all 'resizer-bars' */
  background: #DDD;
  top: 100px
}

.ui-layout-toggler { /* all 'toggler-buttons' */
  background: #AAA;
}

#sidebar {
  display: block;
}

#sidebar-wrapper {
  background-color: #f0f0f0;
}

#header {
  background: #30333a; /* #292b31 */
  color: #ffffff;
}

#header h1 {
  color: #ffffff !important;
  font-size: 18px;
}

#header h1 span {
  display: block;
  font-size: 24px;
}

#header h1 #book-title {
  display: block;
  font-size: 18px;
}

a#showHideButton,a.navLinkPrevious,a.navLinkNext {
  background: none;
}

#navLinkPrevious i {
  margin-right: 0.5em;
}

#navLinkNext i,#navLinkUp i {
  margin-left: 0.5em;
}

body,.ui-widget {
  font: 15px 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000000;
}

pre,code {
  font-family: 'Ubuntu Mono', Menlo, Consolas, Inconsolata, monospace;
  font-size: 14px;
}

pre {
  white-space: pre-wrap;
  background: #f9f9f9;
}

.table tfoot>tr>th,.table-condensed tfoot>tr>th {
  padding: 0 0 0 8px;
  text-align: left;
  border-bottom: 0 none;
  font-size: 12px;
  font-weight: normal;
}

td>p {
  margin: 0;
  padding: 0;
}

div.queryresult thead>tr>th {
  font-size: 13px;
}

div.queryresult code {
  color: #000000;
  background-color: transparent;
  font-size: 13px;
  white-space: pre-wrap;
  display: block;
}

div.queryresult td.emptyresult code {
  color: #999999;
}

div.admonitionblock {
  margin: 1em 0;
}

div.admonitionblock table {
  background: none;
  min-width: 50%;
}

div.admonitionblock tbody,div.admonitionblock td,div.admonitionblock th {
  border: 0 none;
}

div.admonitionblock td.icon {
  vertical-align: middle;
  text-align: center;
  width: 4em;
}

div.admonitionblock td.content {
  vertical-align: top;
  padding: 4px;
}

div.admonitionblock td.content b {
  display: block;
}

#content div.sidebar,#content div.titlepage div.abstract {
  float: right;
  margin: 0 0 16px 16px;
  padding: 4px;
}

li>p {
  margin: 0;
}

hr {
  border-top: 0 none;
}

dl.variablelist>dd {
  margin-bottom: 0.75em;
}

span.contentsTab {
  padding-left: 0;
  background: none;
}

span.searchTab {
  padding-left: 0;
  background: none;
}

span.contentsTab i,span.searchTab i {
  margin-right: 0.5em;
}

#showHideButton i {
  margin-right: 0.25em;
}

p.cypherconsole {
  display: none;
}

iframe.console,#console {
  height: 23em;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
}

#console {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

div.query-outer-wrapper #console {
  height: 23em;
}

p.cypherdoc-console,iframe.console {
  height: 23em;
}

p.cypherdoc-console.fixed-console {
  position: fixed;
}

p.cypherdoc-console {
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  overflow: visible;
  margin-bottom: 2.5em;
}

#content.internet-explorer p.cypherdoc-console.fixed-console {
  width: 98%;
}

span.resize-vertical-handle {
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid rgba(0, 0, 0, 0.15);
  bottom: -8px;
  cursor: s-resize;
  display: block;
  height: 9px;
  position: absolute;
  width: 100%;
}

span.resize-vertical-handle span {
  background: none repeat scroll 0 0 #888888;
  display: block;
  height: 1px;
  margin: 3px auto;
  width: 30px;
}

#resize-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

a.resize-toggle {
  bottom: -32px;
  position: absolute;
  right: 4px;
}

p.cypherdoc-console.fixed-console a.resize-toggle {
  right: 18px;
}

div.query-wrapper {
  position: relative;
}

div.query-outer-wrapper {
  position: relative;
  min-height: 50px;
}

#content div.query-outer-wrapper div.btn-group {
  position: absolute;
  top: 0;
  left: 0;
}

#content h3,#content h4,#content h5,#content h6 {
  cursor: pointer;
}

#content h3:hover::after,#content h4:hover::after,#content h5:hover::after,#content h6:hover::after
  {
  color: #428BCA;
  font-family: FontAwesome;
  font-size: .75em;
  content: "\00a0\f0c1";
}

a.ulink[href^="http"]:after {
  display: inline-block;
  font-family: FontAwesome;
  content: "\00a0\f08e";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  text-decoration: inherit;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.ulink[href$=".svg"]:after,a.ulink[href$=".jpg"]:after,a.ulink[href$=".png"]:after {
  content: "" !important;
}

/* for IE */
a,a img {
  outline: none;
}

img {
  border: 0;
}

#versions {
  color: #ffffff;
  position: fixed;
  right: 20px;
  top: 75px;
  font-size: 14px;
}

#versions a,#versions a:hover {
  padding: 0 4px;
  color: #cccccc;
  text-decoration: none;
}

#versions a[href]:link,#versions a[href]:visited,#versions a[href]:hover,#versions a[href]:focus,#versions a[href]:active
  {
  color: #ffffff;
}

#versions a[href]:hover,#versions a[href]:focus,#versions a[href]:active {
  text-decoration: underline;
}

#versions>ul.list-inline {
  margin: 0;
}

#versions>ul.list-inline>li {
  padding: 0 2px;
}

#additional-versions {
  position: fixed;
  right: 4px;
  top: 75px;
  font-size: 14px;
}

#additional-versions a.dropdown-toggle {
  color: #ffffff;
  cursor: pointer;
}

#discuss {
  margin: 2em 0 1em 0;
}

#discuss-header {
  position: relative;
  background: #30333a;
  color: #ffffff;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
}

#discuss-icon {
  font-size: 28px;
  padding: 2px 4px;
}

#discuss-toggle {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 18px;
}

#discuss-intro {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  padding: 6px 4px 0 0;
  margin-bottom: 1em;
}

#disqus-body {
  display: none;
}