<!DOCTYPE html>  
<html>  
<head>  
    <title>local-storage-js - QUnit Test Suite</title>  
    <link rel="stylesheet" href="css/qunit.css" type="text/css" media="screen">  

	<script>/*<![CDATA[*/!window.QUnit && document.write('<script src="qunit.js"><\/script>')/*]]>*/</script>
	
	<script src="http://swarm.simplecartjs.com/js/inject.js"></script>
	<script src="../storage.js"></script>
	
	<script src="test.js"></script>



</head>  
<body>  
	
	<h1 id="qunit-header">QUnit Test Suite</h1>  
    <h2 id="qunit-banner"></h2>  
    <div id="qunit-testrunner-toolbar"></div>  
    <h2 id="qunit-userAgent"></h2>  
    <ol id="qunit-tests"></ol>
    
</body>  
</html>