%ul
  :each property in properties
    %li
      %ul
        %li
          %input.property-id(type="hidden" value="#{property.getLocalId()}")
          :if property.isDuplicate()
            .error This property already exists, please change the name.
          %input.property-key(type="text" value="#{escape(property.getKey())}")
        %li
          :if property.getValueError()
            .error= property.getValueError()
          %input.property-value(type="text" value="#{property.getValueAsHtml()}")
        %li
          %button.delete-property Remove

  %li 
    %button.add-property Add property
