

#visualization  
  %ul.button-bar.item-controls
    %li
      %button#visualization-show-settings.text-icon-button(title="Visualization settings") Visualization settings
    %li
      %button#visualization-reflow.icon-button(title="Re-animate graph layout") 

.break
