%ul
  %li.filter
    .filterBooleanOp and
    .filterType where property 
    %input.small.propertyName(type="text" placeholder="Property name")
    %select.method
    %input.small.compareValue(type="text" placeholder="A value" style="display:none")
  %li.removeFilterWrap
    %button.bad-button.micro-button.removeFilter X
.break
