article.guide
  section.step
    h1 Explore
    p.hint The internet has a lot of graph knowledge.
  section.step
    h2 Participate in a thriving community
    img(src='images/community.jpg')
    p
      | Neo4j has a growing worldwide community of users, contributors and partners. Join in to learn from others,
      | and share your own insights.
    ul
      li
        a.external(href='http://stackoverflow.com/questions/tagged/neo4j') Stack Overflow
        | for
        em Q
        | uestions and
        em A
        | nswers
      li
        a.external(href='http://groups.google.com/group/neo4j') Google Groups
        | to discuss general Neo4j topics
      li
        a.external(href='http://neo4j.meetup.com') Meetup.com
        | for face-to-face interaction with peers
      li
        a.external(href='http://github.com/neo4j') Github
        | for open source code contributions
    p.hint Graphistas are everywhere.
  section.step
    h2 Watch videos
    img(src='/content/help/guides/img/watch.png')
    ul
      li
        a.external(href='http://watch.neo4j.org/video/58186636') Intro to Neo4j
        | for a gentle introduction
      li
        a.external(href='http://watch.neo4j.org/video/57174859') Cypher for SQL Professionals
        | if you're familiar with RDBMS
      li
        a.external(href='http://watch.neo4j.org') Watch
        | all of the latest videos
    p.hint Coming soon: a full length movie starring Johnny Depp as Il Grafico.
  section.step
    h2 Read in-depth material
    img(src='/content/help/guides/img/books.png')
    ul
      li
        a.external(href='http://neo4j.com/docs/{{neo4j.version}}/') Neo4j Manual
        | - the official reference
      li
        a.external(href='http://graphdatabases.com/') Graph Databases
        | - the definitive book
      li
        a.external(href='http://www.manning.com/partner/') Neo4j in Action
        | - a practical approach
    ul
      li
        a.external(href='http://blog.neo4j.org') Neo4j Blog
        | - latest information
      li
        a.external(href='http://maxdemarzi.com') Max de Marzi
        | - a practioner's blog
    p.hint Your brain is a graph. Graph thinking will make it happy.
