article.guide
  .container-fluid
    .row
      .col-sm-3
        .box-max
          img.img-responsive(src='images/neo4j-world.png')
          p.lead.text-center {{ neo4j.version }}
      .col-sm-9
        .teaser.teaser-3
          h3 Learn about Neo4j
          p.lead A graph epiphany awaits you.
          .icon-holder
            img.icon(src="images/learn-icon.png")
            ul.topic-bullets
              li What is a graph database?
              li How can I query a graph?
              li What do people do with Neo4j?
            .clearfix
          button.btn.btn-cta(play-topic='concepts') Start Learning

        .teaser.teaser-3
          h3 Jump into code
          p.lead Use Cypher, the graph query language.
          .icon-holder
            img.icon(src="images/code-icon.png")
            ul.topic-bullets
              li Code walk-throughs
              li RDBMS to Graph
              li Query templates
            .clearfix
          button.btn.btn-cta(play-topic='write-code') Write Code

        .teaser.teaser-3
          h3 Monitor the system
          p.lead Key system health and status metrics.
          .icon-holder
            img.icon(src="images/health-icon.png")
            ul.topic-bullets
              li Disk utilization
              li Cache activity
              li Cluster health and status
            .clearfix
          button.btn.btn-cta(play-topic='sysinfo') Monitor

    .hero-unit
      p(ng-class="{'motd-bang': motd.callToAction.bang}")
        a(href="{{ motd.callToAction.u}}") {{ motd.callToAction.d }}

    footer.tight
      p.text-muted Copyright &copy;
        a.no-icon(href='http://neo4j.com/')  Neo Technology
        | &nbsp;2002–
        span= new Date().getFullYear()
