article.guide
  .container-fluid
    .row
      .col-sm-4
        img.img-responsive(src='images/welcome-logo.png')
        p.lead.text-center {{ neo4j.version }}
      .col-sm-4
        h3 Getting started
        p.lead by learning about Neo4j...
        br
        ul.big.undecorated
          li
            a(play-topic='intro') Intro
            |  - a guided tour
          li
            a(play-topic='concepts') Concepts
            |  - GraphDB 101
          li
            a(play-topic='cypher') Cypher
            |  - query language
      .col-sm-4
        h3 Jump into code
        p.lead with a mini graph app...
        br
        ul.big.undecorated
          li
            a(play-topic='movie-graph') The Movie Graph
          //- li
          //-   a(play-topic='network-graph') Network Management
          //- li
          //-   a(play-topic='product-graph') Product Recommendations

    .hero-unit
      p(ng-class="{'motd-bang': motd.callToAction.bang}")
        a(href="{{ motd.callToAction.u}}") {{ motd.callToAction.d }}

    footer
      p Copyright &copy;
        a.no-icon(href='http://neotechnology.com/')  Neo Technology
        | &nbsp;2002–
        span= new Date().getFullYear()
