.container.overlay
  .row
    .span4
      img(src='images/about-logo.png')
      h2 {{ neo4j.version }}
    
    .span4
      h2 Getting Started
      p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    .span4
      h2 Heading
      p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>


  .hero-unit(ng-bind-html="motd.welcome")

  footer
    p Copyright &copy; 
      a.no-icon(href='http://neotechnology.com/')  Neo Technology
      | &nbsp;2002–
      span= new Date().getFullYear()
