article.guide
  .container-fluid
    .row
      .col-sm-3
        h3 Write Code
        p.lead Jump right into coding with example data graphs
      .col-sm-9
        .teaser.teaser-3
          h3 Movie Graph
          p.lead Actors &amp; movies in cross-referenced pop culture.
          .icon-holder
            img.icon(src="images/movie-icon.png")
            ul.topic-bullets
              li A complete example graph.
              li Demonstrates common query patterns.
              li Solves the Bacon path!
            .clearfix
          button.btn.btn-cta(play-topic='movie-graph') Create a graph

        .teaser.teaser-3
          h3 Northwind Graph
          p.lead From RDBMS to Neo4j, using a classic data set.
          .icon-holder
            img.icon(src="images/northwind-icon.png")
            ul.topic-bullets
              li Load data from external CSV files.
              li Convert RDBMS schema to graph structure.
              li Run sample queries.
            .clearfix
          button.btn.btn-cta(play-topic='northwind-graph') Convert from RDBMS

        .teaser.teaser-3
          h3 Query Templates
          p.lead Easily generate Cypher statements.
          .icon-holder
            img.icon(src="images/template-icon.png")
            ul.topic-bullets
              li Fill in labels, types, and property values.
              li Generate nodes and relationships.
              li Find common graph patterns.
            .clearfix
          button.btn.btn-cta(play-topic='query-template') Generate a graph

    .row.empty
