#console-tabs
  %ul.button-bar.grouped
    %li
      %a(href="#/console/cypher" class="button #{(current == 'cypher' ? 'current':'')}") Cypher
    %li
      %a(href="#/console/gremlin" class="button #{(current == 'gremlin' ? 'current':'')}") Gremlin
    %li
      %a(href="#/console/http" class="button #{(current == 'http' ? 'current':'')}") HTTP
#console.pad
  %ul
    :each line in lines
      %li = htmlEscape(line, true)

    %li 
      :if showPrompt
        =htmlEscape(promptPrefix+"> ") 
        %input#console-input(type="text" value="#{htmlEscape(prompt)}")
    :if showMultilineHelp
      %li.console-multiline-help
        (Hit return again to execute)
