*~
\#*
target
*.swp
.svn
.project
.classpath
.settings
.externalToolBuilders/
.scala_dependencies
.factorypath
*.iws
*.ipr
*.iml
.idea
.DS_Store
.shell_history
cypher/project
cypher/lib_managed
cypher/.cache
server/neo4j-home/data/
server/neo4j-home/rrd
server/rrd
server/neo4j-home/ssl
server/src/main/resources/webadmin-html/js/neo4j/
server/src/main/resources/webadmin-html/js/ribcage/
server/src/main/resources/webadmin-html/js/webadmin.js
artifacts
*/bin
*/pom-with-build-number.xml
chromedriver.log
webdriver-binaries
*.egg-info
*.egg
work-tools/sauron/build/
