<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>UUID.core.js Test</title>
    <link rel="stylesheet" href="qunit/qunit.css" type="text/css" media="screen" />
    <script type="text/javascript">
      var UUID = new Date(), initialOccupant = UUID;
    </script>
    <script type="text/javascript" src="qunit/qunit.js"></script>
    <script type="text/javascript" src="../dist/uuid.core.js"></script>
    <script type="text/javascript" src="uuid.test.common.js"></script>
    <script type="text/javascript" src="uuid.generate.js"></script>
  </head>
  <body>
    <h1 id="qunit-header">UUID.core.js Test</h1>
    <h2 id="qunit-banner"></h2>
    <div id="qunit-testrunner-toolbar"></div>
    <h2 id="qunit-userAgent"></h2>
    <ol id="qunit-tests"></ol>
    <div id="qunit-fixture">test markup</div>
  </body>
</html>
