<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>UUIDTest</title>
    <script type="text/javascript" src="../src/uuid.js"></script>
  </head>
  <body>
    <h1>UUIDTest</h1>
    <pre><script type="text/javascript" src="uuidTest.js"></script></pre>
  </body>
</html>
