%p
  %label(for="create-relationship-from") Label keys
  %input#visualization-label-properties(type="text" value="#{labels}")
  .helpbox.break
    Comma separated list of property keys to use for labeling nodes, in priority order.

%ul.button-bar.popout-controls
  %li
    %button#save-visualization-settings.button Done
