.sidebar
  %p.pad These are the indexes
  %p
    Create index
    %label(for="create-index-name") Index name
    %input#create-index-name(type="text" value="idxName")
    %button.create-index.button Create
	
.workarea
  #indexes

