.overlay
#guide
  #guide-header
    %ul.button-bar.grouped
      %li
        %a.micro-button.close-guide
          X Close
    %a.micro-button.start-guide
      Neo4j Guide
  %article.deck-container
    %section.slide
      %h2 This look
      %ol
        %li
          %h3 Write Slides
          %p Slide content is simple HTML.
        %li
          %h3 Choose Themes
          %p One for slide styles and one for deck transitions
    %section.slide
      %h2 Sliding Too
      %ol
        %li
          %h3 Write Slides
          %p Slide content is simple HTML.
        %li
          %h3 Choose Themes
          %p One for slide styles and one for deck transitions
