node_modules
npm-debug.log
/dist
.tmp
.sass-cache
# app/components
app/styles/main.css
app/index.html
app/views/**/*.html
app/content/**/*.html

# neo4j
*.graphdb
.shell_history

# sbt
target

# IntelliJ
.idea/
*.iml

# Mac
.DS_Store

# maven release plugin artifacts
release.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag

# ignore sauce labs artifacts
sauce_connect*
test-results.xml
