%td 
  %select.target(style="display:none")
    %option(value="nodes") Nodes
    %option(value="relationships") Relationships
    %option(value="groups") Groups
  Nodes where

%td
  %table.filters
  %button.button.addFilter Add filter

%td
  %ul.boxStyle
    %li Type 
      %select.boxType
        %option(value="box") Box
        %option(value="circle") Circle
    %li Background
    %li Border color

%td
  %ul.labelStyle
    %li 
      Show label
      %input.showLabel(type="checkbox")
    %li Text
    %li Font size
    %li Font color
    
%td
  
  %button.bad-button.remove Remove
