%td 
  %select.target(style="display:none")
    %option(value="nodes") Nodes
    %option(value="relationships") Relationships
    %option(value="groups") Groups
  Nodes where

%td
  %table.filters
  %button.button.addFilter Add filter

%td.style
%td
  %button.bad-button.remove Remove
