%td property 
  %input(type="text")
  %select.type
    %option(value="exists") exists.
    %option(value="==") is
    %option(value="!=") isn't
    %option(value=">") >
    %option(value=">=") >=
    %option(value="<") <
    %option(value="<=") <=
%td
  %button.bad-button.removeFilter Remove
