%ul.styleRule
  %li.ruleTitle
    .ruleTarget
      Nodes
    %button.bad-button.micro-button.remove Remove
    .break
    .form-sort-handle

  %li.ruleFilters
    %ul.filters.property-list
    %ul.property-list
      %li.property-controls
        %button.micro-button.addFilter Add filter
        .break

  %li.ruleStyle
.break
