
.workarea#visualization-settings
  .pad
    .span-half
      :if isInCreateMode
        %h2 Create new visualization profile
      :if !isInCreateMode
        %h2 Manage visualization profile
    
      %input.big(id="profile-name" type="text" value="#{htmlEscape(name)}")
    .span-half.last
      %ul.button-bar
        %li
          %button.button.save Save
        %li
          %button.button.cancel Cancel
  
    .break
  
  .styleRulesWrap
    .headline-bar.pad
      %h2 Style rules
      .button-bar
        %button.button.addStyleRule Add style rule
      .break
    
    .break
    %ul.styleRules
  
