.sidebar
  %h1.pad Visualization settings

.workarea.with-sidebar#visualization-settings

  %h2.pad Visualization profiles
  
  %table.visualization-profile-list
  
  %a.button(href="#/data/visualization/settings/profile/") New profile
