script#popup-styling(type="text/ng-template")
  include ../partials/popup-styling

script(id='template/modal/window.html', type='text/ng-template')
  include ../../components/angular-ui-bootstrap/template/modal/window.html

script(id='template/modal/backdrop.html', type='text/ng-template')
  include ../../components/angular-ui-bootstrap/template/modal/backdrop.html
