script(id='template/tabs/tab.html', type='text/ng-template')
  include ../../components/angular-ui-bootstrap/template/tabs/tab.html

script(id='template/tabs/tabset.html', type='text/ng-template')
  include ../../components/angular-ui-bootstrap/template/tabs/tabset.html
