%button.switch-dashboard-chart(value="primitives") Primitives
%button.switch-dashboard-chart(value="memory") Memory

%button.switch-dashboard-zoom(value="year") Year
%button.switch-dashboard-zoom(value="month") One month
%button.switch-dashboard-zoom(value="week") One week
%button.switch-dashboard-zoom(value="day") One day
%button.switch-dashboard-zoom(value="six_hours") 6 hours
%button.switch-dashboard-zoom(value="thirty_minutes") 30 minutes

#monitor-chart
