Source: cypher-shell
Section: database
Priority: optional
Maintainer: Neo4j Sweden AB <debian@neo4j.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.4
Homepage: https://neo4j.com/

Package: cypher-shell
Architecture: ${ARCH}
Depends: ${misc:Depends}
Replaces: neo4j (<< 3.1.4), neo4j-enterprise (<< 3.1.4)
Breaks: neo4j (<< 3.1.4), neo4j-enterprise (<< 3.1.4)
Description: command line shell for neo4j
 Cypher-shell is a command line shell for Neo4j.
