@import 'variables'
@import 'nib'
@import 'mixins'

// primary-background-color = #262626
// primary-text = #ebebeb
// secondary-background-color = #595959
// secondary-text-color = #f4f4f4
// tertiary-background-color = #383838
// tertiary-text-color = #f4f4f4


primary-background-color = #282c32
primary-text = #ebebeb
secondary-background-color = #5a6070
secondary-text-color = #f4f4f4
tertiary-background-color = #30333a
tertiary-text-color = #f4f4f4
tertiary-background-hover = #292e3a
tertiary-text-hover = #f4f4f4

body.theme-dark
  font: 13px 'Helvetica Neue', Helvetica, Arial, sans-serif
  background: primary-background-color
  color: primary-text

  a
    color: color-link
    &:hover
      color: color-link-hover
      text-decoration: none


  #incompatible
    background-color: #fff

  table.json-object
    background-color: #eee;
    tbody
      tr
        background-color: transparent;
        td, th
          color: #666;

  .status-bar-wrapper
    display: none
  .status-bar
    color: rgb(120, 129, 133)
    background-color: #FFF
    .status

    .popover.bottom
      .arrow:after
        border-bottom-color: #f7f7f7
    .details
      margin-top: -4px
      margin-left: 12px
    .updated-code
      float:right
      margin-right horizontal-padding
    &.error
      color: color-error
    .fa-ok
      color: color-success

  .fullscreen-container
    background-color: #fff
    .code-bar
      // darkened
      background-color: secondary-background-color
      .actions
        display: none
      a.close-fullscreen
        color: #9B9DA2
    a.fa-download
      color: #9B9DA2
    .result
      background-color: #F8F9FB

  .key.code
    color: #eee

  //
  // Bootstrap overrides
  //////////////////////

  .navbar-inverse .navbar-inner
    background: linear-gradient(top, #333, #181818)

  .navbar .brand
    color: #fff

  /////
  .bg-warning
    background-color: #635c36

  #error
    background-color: color-error
    color: #fff
  .connection-error
    #error
      display: block

  #stream
    .frame
      .view-result .view-result-graph
        background-color: tertiary-background-color

      .code-bar
        .code
          color: secondary-text-color
        background-color: secondary-background-color


  #main
    background-color: primary-background-color

    .hero-unit
      background-color: tertiary-background-color

    article.guide, article.help, article.guide, pre
      color: secondary-text-color
      background-color: secondary-background-color
      p
        color: secondary-text-color
      pre.code
        color: tertiary-text-color
        background-color: tertiary-background-color
        &:hover
          background-color: tertiary-background-hover
          color: tertiary-text-hover

    .intro
      background: url(../images/intro.png) 50% 48% no-repeat

    .view-editor, .view-editor pre
      background-color: tertiary-background-color
      z-index: -1

    footer
      color: #A0AAB1

  // CodeMirror overrides
  .CodeMirror
    z-index: 2
    &.cm-s-neo, &.cm-s-css
      color: red
      .cm-comment
        color: #C0C4CA
      .cm-keyword, .cm-property
        color: #3498DB
      .cm-atom, .cm-number
        color: #9B59B6
      .cm-node, .cm-tag
        color: #E74C3C
      .cm-string
        color: #E67E22
      .cm-variable, .cm-qualifier
        color: #1ABC9C
  #editor
    .CodeMirror
      .CodeMirror-placeholder
        color: #E0E2E6
      .CodeMirror-lines
      .CodeMirror-gutters
      .CodeMirror-linenumber
        color: primary-text-color
      .CodeMirror-code
        color: primary-text-color
      div.CodeMirror-cursor
        border-left: 11px solid yellow
        opacity: 0.5
    .prompt
      color: primary-text-color
    .disable-highlighting
      .CodeMirror .CodeMirror-code *
        color: primary-text-color
  div.CodeMirror-selected
    background-color: primary-text-color
    opacity: 0.5
