%table.data-table(cellspacing="0")
  %tbody
    %tr
      :each column in result.columns
        %th
          %h3= htmlEscape(column)
    :each row in result.data
      %tr
        :each value in row
          %td.small
            :if value != null && typeof(value.self) !== "undefined" && typeof(value.type) === "undefined"
              %a.micro-button(href="#/data/search/#{htmlEscape(id(value))}/")= "Node " + htmlEscape(id(value))
            :if value != null && typeof(value.self) !== "undefined" && typeof(value.type) !== "undefined"
              %a.micro-button(href="#/data/search/rel:#{htmlEscape(id(value))}/")= "Rel " + htmlEscape(id(value))
            :if value != null && typeof(value.self) === "undefined"
              = htmlEscape(JSON.stringify(value))
            :if value == null
              null

.break
