#header
  #header_submenu
    #global-loading-indicator
      .loading-spinner Loading
    %ul.horizontal_menu
      %li
        %a.micro-button(href="http://neo4j.com/docs/") Documentation
  %img#logo(src="img/logo.png")

#contents
  

#footer
  %p.copyright Copyright (c) 2002-2018
    \ 
    %a(href="http://neotechnology.com") Neo Technology
    \.
    \ This is free software, available under the 
    \ 
    %a(href="http://www.gnu.org/licenses/gpl.html") GNU General Public License
    \ version 3 or greater.
