%p
  %label(for="create-relationship-from") Label keys
  %input#visualization-label-properties(type="text" value="#{htmlEscape(labels)}")
  .helpbox.break
    Comma separated list of property keys to use for labeling nodes.

%ul.button-bar.popout-controls
  %li
    #save-visualization-settings.button Done
