

#visualization  
  %ul.button-bar.item-controls
    %li
      #visualization-profiles-button.text-icon-button(title="Control how the visualization looks")
        %span.icon
        Style
    %li
      #visualization-reflow.text-icon-button(title="Refresh graph auto-layout") 
        %span.icon
        Re-layout
    %li
      #visualization-clear.text-icon-button(title="Clear the visualization.") 
        %span.icon
        Clear
.break
