Source: neo4j-coordinator
Section: misc
Priority: optional
Maintainer: ${neo4j.debian.maintainer}
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2
Homepage: http://neo4j.org/

Package: neo4j-coordinator
Architecture: all
Depends: ${misc:Depends}, daemon, adduser, psmisc, default-jre
Conflicts: 
Replaces: 
Description: Coordinator server for neo4j High Availability cluster.
             .
             This is a neo4j-specific version of the Zookeeper coordinator cluster.
