script(id="template/carousel/slide.html", type="text/ng-template")
  .item(ng-class="{ \'active\': leaving || (active && !entering), \'prev\': (next || active) && direction==\'prev\', \'next\': (next || active) && direction==\'next\', \'right\': direction==\'prev\',  \'left\': direction==\'next\'  }", ng-transclude)
