.headline-bar
  %ul.dashboard-chart-tabs.tabs
    %li
        %button.switch-dashboard-chart(value="primitives") Primitives
    %li
        %button.switch-dashboard-chart(value="memory") Memory

  %ul.dashboard-zoom-tabs.tabs
    %li
      %button.switch-dashboard-zoom(value="year") Year
    %li
      %button.switch-dashboard-zoom(value="month") One month
    %li
      %button.switch-dashboard-zoom(value="week") One week
    %li
      %button.switch-dashboard-zoom(value="day") One day
    %li
      %button.switch-dashboard-zoom(value="six_hours") 6 hours
    %li
      %button.switch-dashboard-zoom(value="thirty_minutes") 30 minutes

#monitor-chart-wrap
  #monitor-chart

.footer-bar
